[2016-05-17 08:51] ginolhac opened #1 "tweaking the colour gradient"
Thanks for such a cool package!
`d3heatmap` is indeed nice but suffers some performance issues.
I was wondering if we can tweak the gradient, in the way as in `ggplot2`:
- easily select `low` and `high` colours
- specify limits / breaks
- Having a mid-point value and colour, plus 2 diverging gradients
Many thanks again

[2016-05-17 09:28] talgalili commented on #1
Hן @ginolhac -
Thanks for the comments. Yes, I am interested in adding this. I currently use a place-holder color (viridis), but I wanted to add it as an option.
If you have specific links to examples of what you wrote, I'll use it in the design of the otpions.

Best,
Tal

[2016-05-17 12:23] ginolhac commented on #1
@talgalili great, thanks!
For log-fold change, one may want to have 0 centered to white, down-regulated stuffs in blue and up-regulated in red. To get a picture such as (done in ggplot2, cropped)
![heatmap](https://cloud.githubusercontent.com/assets/710181/15322047/a2d7a06a-1c3a-11e6-8830-99f0c2989174.png)

Then, as you can see the distribution of + / - values are asymmetrical. One option is to se

[2016-05-23 17:38] #1 closed

[2016-05-23 18:33] talgalili commented on #1
Hi @ginolhac
I just pushed heatmaply version 0.2.0 with a new parameter called scale_fill_gradient_fun. You can insert into it the values to control the colors as you want. For example:
[code]

Another great way to control color is to use color and limits:

[code]

Does this help?

Tal

[2016-05-24 07:45] ginolhac commented on #1
Great! @talgalili !
Thanks, it works well.
As a note, one should first load `ggplot2` to get the scale_* functions or specify the namespace
[code]

and that is really cool to have all the scale_fill_gradient2, together with the limits! Much appreciated.
![newplot](https://cloud.githubusercontent.com/assets/710181/15496161/22904a60-2194-11e6-804d-b61bcd4b1583.png)

[2016-05-25 10:38] stanstrup opened #2 "setting scale causes error"
This package is very useful. Thanks!

I found a small problem though:

[code]

[code]

[2016-05-25 10:51] talgalili commented on #2
Thanks @stanstrup

This is because there is another parameter called `scale_fill_gradient_fun` which thinks you are trying to place something in it. Here is a way to go around it:

[code]

I'll think of a smarter way to avoid this collision, and will revisit this issue.

Best,
Tal

[2016-05-25 11:53] stanstrup opened #3 "srtRow"
It would be nice to have srtRow and srtCol as in heatmap.2.

[2016-05-25 12:07] stanstrup opened #4 "row labels are not applied"
library(heatmaply)
rownames(iris) <- paste0("row",rownames(iris))
heatmaply(iris[,-5], k_row = 3, k_col = 2)

[2016-05-25 12:07] stanstrup opened #5 "col labels are cut"
For every plot I try the col labels are cut so you can only see the top of the letters.

[2016-05-25 12:18] stanstrup commented on #2
IC. Thanks. The workaround works.

[2016-05-25 15:38] talgalili commented on #5
Hi @stanstrup
This is a problem with plotly failing to find the correct margins. This can be manually fixed, here is an example:

[code]

I hope this will be resolved in the future in plotly itself.

Cheers,
Tal

[2016-05-25 15:39] talgalili commented on #3
I will look into it, thanks.

[2016-05-25 15:41] talgalili commented on #4
They are applied, this is the same issue as #5 of the labels getting truncated. This can be manually fixed like this:

[code]

[2016-05-25 15:41] #4 closed

[2016-05-25 20:15] #2 closed

[2016-05-25 20:15] #3 closed

[2016-05-25 21:53] icanwinwyz opened #6 "installation failed"
I tried to install this package "heatmaply" on R version 3.3.0 and 3.2.5, but both of them failed on installation. The system said:

"Warning in install.packages :
  package ‘heatmaply’ is not available (for R version 3.3.0)"

Any idea? Thanks.

[2016-05-25 23:28] icanwinwyz opened #7 "color issue for big dimension matrix when applied "limit""
I found your package through this R blog, "http://www.r-bloggers.com/interactive-heat-maps-for-r/". This is really a cool package. I used their simulated gene expression matrix to play around with your package. I found if I set the limit as, for example, c(-0.5, 0.5), the color doesn't work at all. You can try the code down below to see what happened:
###### #this is to simulate gene expression ma

[2016-05-26 06:28] talgalili commented on #6
Hi @icanwinwyz
The package should get to CRAN within the day. In the meantime, you can use:

[code]

[2016-05-26 06:28] #6 closed

[2016-05-26 07:00] talgalili commented on #7
Thanks for the bug report @icanwinwyz  !

After further inspection I see this is a bug in plotly. See:

[code]

I will submit it now on plotly's github. And will resolve this issue once this was fixed in plotly.

Thanks.

[2016-05-26 08:08] stanstrup opened #8 "incompatibility with htmlwidgets::saveWidget recently introduced."
commit 18b389718d2ff55c619d960778ea30926c65fbff works with htmlwidgets::saveWidget.
commit 91e6bec42d723b5ca74ed27ebb3cfbdee9291cb7 does not.

[code]

[code]

[2016-05-26 08:20] talgalili commented on #8
Hi @stanstrup
You can solve this by invoking print before saveWidget:

[code]

I am not sure if the output of heatmaply should be the subplot object or the print(subplot object). These create different objects:

[code]

What do you think?

[2016-05-26 08:27] stanstrup commented on #8
Cool.
 So I can simply do:

[code]

[2016-05-26 08:36] talgalili commented on #8
Yes. The question is should print be inside heatmaply or not. I'm not sure...

[2016-05-26 08:49] talgalili commented on #8
So I see that ` plotly:::print.plotly_hash` uses a function called `as.widget` on the plotly_hash object (which heatmaply procuses).
I think what I might do is create a "print" parameter. Let me know if you have thoughts about this.

Cheers,
Tal

[2016-05-26 08:56] stanstrup commented on #8
I really don't know enough about these internal things to give any advise on this.

[2016-05-26 08:57] talgalili commented on #8
Me too :)
I'll give this a day or two of thinking, and then I will choose a default that may change later on. Either way - you have a working solution.

Cheers,
Tal

[2016-05-26 10:46] stanstrup opened #9 "Possibility for non-unique row/col names?"
I have a situation where I would only like to have rownames for only a few rows. Right now that is not possible since rownames need to be unique even when using labRow. Could this be made possible?
Alternatively allow cexRow/cexCol to be a vector. Or allow coloring of the labels so you can set it to white for things to not show.

[2016-05-26 12:06] talgalili commented on #8
o.k., I've decided to leave it as is.
If I don't force print, then you can do something (cool) like this:

[code]

![image](https://cloud.githubusercontent.com/assets/976006/15573896/da76970a-2352-11e6-9b7f-eddc351bfb2d.png)

Or even with shared Y (but I will need to check the row alignment here is correct):

[code]

![image](https://cloud.githubusercontent.com/assets/976006/15573966/5231b5f4-2353

[2016-05-26 12:06] #8 closed

[2016-05-26 12:10] talgalili commented on #9
Interesting. I will look into this later.

[2016-05-26 13:08] timelyportfolio commented on #8
@talgalili, I agree with this decision especially if combination is likely.  However, you could also do both `print(l)` and `invisible(l)`, but I'm sure there are some adverse consequences to this also.  I unfortunately don't have the perspective of understanding common workflows, so I'm a little behind, but I'll think more deeply on this and add any thoughts I have.

Keep up the very fine work!

[2016-05-26 13:33] timelyportfolio commented on #8
As I think about this more, `print(l)` can carry a lot of overhead, so even more reason to do as you have already decided :)

[2016-05-26 14:09] stanstrup opened #10 "Possibility to supply cellnote as a character matrix"
Sorry to bombard you with suggestions. It is only because your package is really really useful.

Right now it seems cellnote has to be numeric even if it is coerced to character internally.
Would it be possible to allow a character matrix so that you can write anything you want?

[code]

[code]

---

Bonus: Actually add the text on the plot like heatmap.2. Or separate functions to achieve current

[2016-05-26 16:37] talgalili commented on #10
Hi @stanstrup
No need to apologize, I am happy for new ideas :)

I will look at your suggestions later to see which I can implement. It might also be that other people would get around to adding these features, so keep them coming (just make sure to have a separate issue for each "idea").

With regards,
Tal

[2016-05-26 18:37] talgalili opened #11 "na.value doesn't work"
This seems to be a problem in plotly.

Minimal example:

[code]

In ggplot:
![image](https://cloud.githubusercontent.com/assets/976006/15585818/f4cb8638-2389-11e6-9c88-b64881eb0695.png)

In heatmaply:
![image](https://cloud.githubusercontent.com/assets/976006/15585836/02b3b428-238a-11e6-9054-44fbf3539827.png)

[2016-05-28 19:18] talgalili commented on #1
Hi @ginolhac
Just to mention that now plotly is placed as a depend (instead of import), which also makes ggplot2 a depends (so the user will have these functions available to him/her).

With regards,
Tal

[2016-05-28 20:43] ginolhac commented on #1
fantastic. Thanks

[2016-05-29 19:27] talgalili commented on #6
Just to update that heatmaply 0.3.1 is on CRAN.
With regards,
Tal

[2016-05-31 11:09] talgalili opened #12 "Remove legend?"
Add option to remove the legend.

[2016-05-31 23:17] hdvinod opened #13 "More general correlations without assuming linearity"
There is a new R package called generalCorr  with a simple function
for example,
gmcmtx0(mtcars)

produces 11 by 11 matrix of generalized correlation coefficients.  Note that if r*(Xi | Xj) exceeds
r*(Xj | Xi) then Xj is likely cause of Xi

It would be nice if one can view general correlation coefficients which are asymmetric and always
larger than Pearson correlation coefficients.

[2016-06-01 09:23] talgalili commented on #13
So there is no problem doing it if you are willing to not use the dendrograms:

[code]

![image](https://cloud.githubusercontent.com/assets/976006/15704458/7d353920-27f3-11e6-91be-9592e32cc5a1.png)

However, if you want to also have the dendrograms, the problem is that it may not be possible to have the same ordering in the two groups since the values of the matrix are not symmetrical (so the dend

[2016-06-01 15:17] hdvinod commented on #13
Can we give priority to causal side represented by numbers above the diagonal?

Sent from my iPhone

[2016-06-01 17:42] hdvinod commented on #13
Dear Tal

I wanted to try and focus on above diagonal correlation coefficients
since they represent cause variable in a binary setting

I could not reproduce your plot on my computer  Windows PC
I must have done something wrong.with colors

+     colors = BrBG , limits = c(-1,1)) %>%   layout(margin = list(l = 40,
b = 40))
Error in as.character(col) :
  cannot coerce type 'closure' to vector of ty

[2016-06-24 23:52] kbeck527 opened #14 "Row labels missing when row_dend_left = TRUE"
I am moving the the dendrogram to the lefthand side by setting `row_dend_left = TRUE`, but the row labels disappear. Here is a reproducible example:

[code]

I have tried adding extra space using `margin - list(r = 180)` in case it was just getting cutoff, but nothing shows up still.

Any help would be appreciated.
- Kristen

[2016-06-25 15:22] talgalili commented on #14
Hi Kristen,
I fear that this parameter is currently not working properly (I should
probably remove it for the next release).
Sadly, since it appears that ggplot2 does not support placing the Y-axis on
the right side of the figures, I don't see a way this ability will be added
(unless I'll re-implement the labels text only, but I suspect I won't wish
to go down that path soon).

With regards,
Tal

[2016-07-06 03:56] zji90 opened #15 "shiny support?"
In the introduction it seems that heatmaply supports shiny. However, I haven't found any discussion of how to incorporate heatmaply in shiny apps both in the package or in the forums. Is it still an ongoing feature?

[2016-07-06 04:10] talgalili commented on #15
Hi Zhicheng Ji,
You should be able to take a heatmaply output and use htmlwidgets::as.widget on it.
I believe this can then be used within Shiny.

Does this answer your question?

Tal

[2016-07-06 06:40] zji90 commented on #15
Thanks for the reply. Can you provide a minimal example how to use the widget functions exactly? I believe this will also be helpful to other shiny users. Thanks!

[2016-07-12 11:47] mshadbolt opened #16 "Save as png functionality doesn't work"
Hi,
thanks for the great app! I have not been able to get to the "download plot as png" button to work. When I click the button, it thinks about it for a moment then comes up with a message "Sorry there was a problem downloading your png".

I am using the package from within RStudio in the viewer pane.

[2016-07-12 23:39] mshadbolt commented on #15
Hi zji90, I just figured out how to do this using the renderPlotly and outputPlotly functions

Within your server function have something like the following:

[code]

Then in the ui function have something like
[code]

Not perfect in terms of formatting, margins etc. but should get you started.
Hope that helps!

[2016-07-12 23:56] zji90 commented on #15
Thanks! I have successfully incorporated the heatmaply in my shiny app. However, it seems that there is some error with the "save as png" function ("Sorry there was a problem downloading your png"). I am wondering whether you have any suggestion of solving this issue?

Best
Jason
________________________________
From: Marion <notifications@github.com>
Sent: Tuesday, July 12, 2016 7:39:41 PM
To: ta

[2016-07-13 00:00] mshadbolt commented on #15
Hi Jason
No sorry, I just opened this as an issue last night (https://github.com/talgalili/heatmaply/issues/16), hopefully Tal will look into it although I suspect that it might be a problem with the underlying plotly framework. I have been getting by with screenshots.

Cheers,
Marion

[2016-07-13 00:26] timelyportfolio commented on #16
This should be fixed with the next major release of plotly coming soon. Cc @cpsievert

[2016-07-14 14:33] kbeck527 commented on #14
Thank you for letting me know.

[2016-07-15 03:45] talgalili commented on #16
I just checked it with plotly 4.0.0, and this seems to work fine.  Use `devtools::install_github("ropensci/plotly")` to get the most recent plotly version.

[2016-07-15 03:45] #16 closed

[2016-07-15 03:47] talgalili commented on #12
This is now implemented using `hide_colorbar`

[2016-07-15 03:47] #12 closed

[2016-07-19 21:38] mshadbolt commented on #16
FYI for anyone else struggling, this works from within a browser but not from within RStudio.

[2016-07-28 14:06] DaveEvenden opened #17 "Buttons in plot window crashes RStudio"
Run the mtcars example...
heatmaply(mtcars, k_col = 2, k_row = 3) %>% layout(margin = list(l = 130, b = 40))

hit 'Autoscale' or 'Zoom out'

'RStudio has stopped working' message

[2016-07-28 18:26] talgalili commented on #17
Thanks for the report @DaveEvenden
This is a bug in plotly. Since the plotly R package is currently under a lot of development/improvement - I hope this will get resolved in the next couple of weeks.
I will keep this ticket open until I will see it resolved.

With regards,
Tal

[2016-07-28 18:31] DaveEvenden commented on #17
Thanks Tal,
I raised it as my introduction to this package was via this website... ...
http://www.r-bloggers.com/heatmaply-interactive-heat-maps/
Where it is stated that .... 'You will get this output in your browser (or **RStudio console**):' (my bold)
And as I am an RStudio fanboy....... :-)

[2016-07-29 06:03] talgalili commented on #17
I use and love Rstudio as well :)
In the meantime, the zoom out feature works when clicking the home button (but not when double clicking the heatmap).
This is indeed a feature that "should" work, it is a bug in plotly (that I believe was already reported - so it should be fixed).

Cheers :)
Tal

[2016-08-11 07:11] Soumikc83 opened #18 "Soumikc83"
Hi,
Couldn't plot heatmaply even the examples written in r help file.
The run command return a error : Error in setwd(dir) : cannot change working directory

[2016-08-11 07:12] talgalili commented on #18
This is odd.

What is your sessionInfo() output, and what code did you run exactly?

[2016-08-11 07:22] Soumikc83 commented on #18
The exact code that you have written in r bloggers (https://www.r-bloggers.com/heatmaply-interactive-heat-maps/). I used the data mtcars to see the plot. But the error returns.

I also tried my own data set with a matrix of 9 columns and 6 rows of continuous variables. The same error returns.
I think the package automatically installs all the necessary packages needed to run or I have to install s

[2016-08-11 07:24] talgalili commented on #18
I just tried it now and it works fine.
What is your sessionInfo() output?

[2016-08-11 07:33] Soumikc83 commented on #18
Then I am doing something wrong..............
I have also tried this comment line from r help file:
attach(mtcars)
x <- heatmapr(mtcars)
library(heatmaply)
heatmaply(iris[,-5], k_row = 3, k_col = 2)
heatmaply(cor(iris[,-5]))
heatmaply(cor(iris[,-5]), limits = c(-1,1))
heatmaply(mtcars, k_row = 3, k_col = 2)

and this returns:

The following objects are masked from mtcars (pos = 3):

    am, carb,

[2016-08-11 07:36] Soumikc83 commented on #18
This the other sessionInfo output for the comment line you used in r bloggers
R version 3.2.3 (2015-12-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_India.1252  LC_CTYPE=English_India.1252
[3] LC_MONETARY=English_India.1252 LC_NUMERIC=C
[5] LC_TIME=English_India.1252

attached base packages:
[1] stats     graphics  grDevi

[2016-08-11 07:57] Soumikc83 commented on #18
Error in setwd(dir) : cannot change working directory

Error in setwd(dir) : cannot change working directory

Error in setwd(dir) : cannot change working directory

Error in setwd(dir) : cannot change working directory

R version 3.2.3 (2015-12-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_India.1252  LC_CTYPE=English_Ind

[2016-08-11 11:27] talgalili commented on #18
1) You are not supposed to run:
attach(mtcars)
2) Please run the following in RGui:
[code]
Then restart your R session. And try again (without attach(mtcars) ).

What do you get now?

[2016-08-11 12:18] Soumikc83 commented on #18
No....Same result.........

Restarting R session...

Loading required package: plotly
Loading required package: ggplot2
Want to understand how all the pieces fit together? Buy the ggplot2 book:
http://ggplot2.org/book/

Attaching package: ‘plotly’

The following object is masked from ‘package:ggplot2’:

    last_plot

The following object is masked from ‘package:graphics’:

    layout

Loading req

[2016-08-11 12:20] talgalili commented on #18
Odd.
Could you please run:

[code]

And then try again?

[2016-08-11 12:41] Soumikc83 commented on #18
Sorry I couldn't run that command.....
The run button returns the error "Error in loadNamespace(name) : there is no package called ‘devtools’"
I also tried to install that from R cran but same result........

[2016-08-11 12:47] Soumikc83 commented on #18
I think something going wrong due to windows 10 may be. I also find some of my packages working wrong after windows 10 upgrate. Like I can see the devtools in R CRAN but it is installing to my system following that error. I will try it on other laptop with windows 7 and let you know.
Thank you very much for your help. I am really looking forward to solve the problem and want explore this beautiful

[2016-08-11 12:54] Soumikc83 commented on #18
Now I can install devtools but the result is same. Although the sessionInfo changes maybe you can read it's meaning..

R version 3.2.3 (2015-12-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

locale:
[1] LC_COLLATE=English_India.1252  LC_CTYPE=English_India.1252
[3] LC_MONETARY=English_India.1252 LC_NUMERIC=C
[5] LC_TIME=English_India.1252

attached base

[2016-08-11 12:55] talgalili commented on #18
Thanks @Soumikc83
There is also a newer version of R, so it may be easiest for you to upgrade R and see if that works.
You may also wish to look at this:
https://www.r-statistics.com/2015/06/a-step-by-step-screenshots-tutorial-for-upgrading-r-on-windows/

Although I haven't tried it on windows 10.

[2016-08-11 12:57] Soumikc83 commented on #18
Thanks for you suggestion...............

[2016-09-10 05:12] Bohdan-Khomtchouk commented on #15
I'm also experiencing a problem with downloading the plot as a png.  Looking forward to this bug fix soon!

[2016-09-10 07:35] Bohdan-Khomtchouk commented on #14
Hi Tal,
I can confirm the same issue as @kbeck527.  I wouldn't recommend removing the `row_dend_left = TRUE` feature, as 99.9% of all biological heatmaps I've ever seen have included this dendrogram on the left (and the row labels on the right).
Best regards,
Bohdan

[2016-09-10 21:50] talgalili commented on #14
Thanks Bohdan,
This is currently a problem to implement since right side axis labels are
not implemented in ggplot2. But I'll keep this open for the future in case
I'll get to implement this in another way that would solve this
(specifically, to add a panel with text that would replace the ggplot2
default labels).

With regards,
Tal

[2016-09-10 21:51] talgalili commented on #15
Hi Bohdan,
What is your sessionInfo()  ?
This sounds like a bug in the plotly package (Which might have been fixed
in the github version).

Cheers,
Tal

[2016-09-10 21:55] Bohdan-Khomtchouk commented on #15
Hi Tal,
[code]
Many thanks for your input.

Cheers,
Bohdan

[2016-09-10 21:56] Bohdan-Khomtchouk commented on #14
Thank you very much, Tal.  That would, indeed, be a nice useful addition to your (already) fantastic R package.

Kind regards,
Bohdan

[2016-09-10 22:04] talgalili commented on #15
I see.
Please try the version of plotly on github, see instructions from here:
https://github.com/ropensci/plotly
And if it still doesn't work, please submit an issue on:
https://github.com/ropensci/plotly/issues

[2016-09-12 09:25] phillyo opened #19 "Error with demo example: seriate_dendogram"
When trying to run the demo example using mtcars, I get:

Error: 'seriate_dendrogram' is not an exported object from 'namespace:dendextend'

Thanks for your help or fix,
Philipp

this is my session info:

R version 3.2.3 (2015-12-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=German_Austria.1252  LC_CTYPE=German_Austri

[2016-09-12 09:27] talgalili commented on #19
Hi Phil,
You seem to be using an old version of dendextend, could you please update
your version to the latest one:
install.packages("dendextend")

With regards,
Tal

[2016-09-12 12:29] phillyo commented on #19
of course! turns out it wasn't the only one that needed updating. thanks! in the meantime i played around with corrplot and plotly, but nowhere near this great package!!!

[2016-09-12 12:29] #19 closed

[2016-09-12 12:31] talgalili commented on #19
Thanks Phil :)

[2016-10-17 18:11] BioCplusplusDude opened #20 "Large Datasets"
I'm having trouble with heatmaply when I have large input files,  I have a 5000 by 5 file and it takes about 2 minutes to load.   I've tried bigger files but they don't seem to come up? Any help?

[2016-10-17 19:48] talgalili commented on #20
I fear I am not sure how to solve this problem. It has to do with how plotly works, and as long as it does not give us any way to trim-down the JS object, I am not sure larger matrices could be created. (AFAIK, heatmaply can still handle larger matrix sizes than d3heatmap).

[2016-10-22 21:36] Alanocallaghan opened #21 "Rowsidecolors/Colsidecolors in the style of heatmap.2"
It would be very useful to have Rowsidecolors and Colsidecolors (eg, http://manuals.bioinformatics.ucr.edu/home/R_BioCondManual/hclust3.png).

I have had a look through plotly's R API and haven't been able to find a good way to do categorical heatmap style plots in plotly natively. A possible solution would be to use ggplotly() though this is not ideal due to speed and mixing interfaces. I would b

[2016-10-23 06:46] talgalili commented on #21
Hi @Alanocallaghan.
This is something I would like to add (and wanted to for a while, but didn't get to it).
Since heatmaply is based on ggplotly and subplot, I believe the way to do it is by creating a [stacked bar chart](http://stackoverflow.com/questions/21236229/stacked-bar-chart) of the extra elements, and create a dedicated subplot layout for when this parameter is supplied.
What do you thin

[2016-10-23 08:31] talgalili commented on #21
On a second thought, it could probably also be done using geom_tile. I would check how visdat does it.

[2016-10-23 09:41] Alanocallaghan commented on #21
Hi Tal,
visdat uses geom_raster which is simply a special case of geom_tile. I think this would be the most sensible way to do it. Unfortunately, I don't know of a native plotly equivalent for geom_tile. The vis_dat_ly function (plotly equivalent) seems to use the heatmap trace so perhaps it is possible to make categorical heatmaps in this way.

However if you're happy using ggplotly rather than n

[2016-10-23 13:01] talgalili commented on #21
:+1:

[2016-10-23 15:39] Alanocallaghan commented on #21
Hi Tal,

I have put together some working code on my fork (https://github.com/Alanocallaghan/heatmaply). It currently requires a "molten" `data.frame` as might be produced by `reshape2::melt`.
As you'll see, the subplot layout code gets much more complex with the possibility that colsidecolours, rowsidecolours, column dendrogram and row dendrogram can all be present or absent, so I re-organised th

[2016-10-23 15:49] talgalili commented on #21
Very nice work @Alanocallaghan !
I will wait for you to finish tightening up the code before a more proper review.

One small note - maybe it would be better to use something like `colorspace:rainbow_hcl` as default instead of `viridis` for colors, since often the values there would be categorical (and of course, the user could use viridis if they would like). What do you think?

[2016-10-23 16:02] Alanocallaghan commented on #21
Hi Tal, right you are. I simply used `viridis` as a placeholder before choosing a more suitable default palette.
Cheers
Alan

[2016-10-23 16:03] talgalili commented on #21
:+1:  Exciting stuff.

[2016-10-27 23:55] dsrwac opened #22 "Activate grid/color option"
Is there a way to pass along the grid color to get the tiled effect for a heat map (white border or any other colored tile border)?

[2016-10-28 06:31] talgalili commented on #22
Hi @dsrwac
Currently not.
The package is built on the `ggplot_heatmap` function, here (line 204):
https://github.com/talgalili/heatmaply/blob/master/R/heatmaply.R
Which is based on `geom_tile`. Sadly, plotly does not support grid color and size for these objects. I've opened an issue on this about two months ago, but still no news:
https://github.com/ropensci/plotly/issues/699

Sadly, the alternat

[2016-10-28 06:48] talgalili commented on #22
Hi @dsrwac - good news.
I was able to bypass the plotly bug (by using `geom_hline` and `geom_vline`). Please check the recent version on github, and see if the following works for you:

[code]

This is what I get:

![image](https://cloud.githubusercontent.com/assets/976006/19797437/abe68bfa-9cf3-11e6-9c79-0d06f29f2004.png)

[2016-10-28 07:09] dsrwac commented on #22
Wow, that was a fast turn around, fantastic. I will try it out first thing
in the morning.

Thanks,

Dirk

On Thursday, October 27, 2016, Tal Galili <notifications@github.com> wrote:

--
aether_cell:  ++1-(415)-279-4269
aether_mail:  d.siepe@gmail.com

<siepe.dirk@gene.com>

[2016-10-28 16:17] talgalili commented on #22
Hi Dirk,
Please wait another day before looking at this. The package is going through another pull commit (which is currently breaking the package and will need to be fixed).
I will update this ticket once it is back to work (with your new feature request).

Tal

[2016-10-28 23:34] dsrwac commented on #22
No problem, one other thing I just noticed: Is it possible to change the thickness of the dendrogram lines? They always appear pretty thick and therefore kind of low res?

[2016-10-29 07:43] talgalili opened #24 "Add control over dendrogram thickness"
The dendrograms appear a bit low resolution because there is no curve in their edges (this is because of the following bug I filed in plotly: https://github.com/ropensci/plotly/issues/625 ).
It is possible to reduce the line width of the dendrograms if they are created outside the heatmap. For example:

[code]

Will produce:

![image](https://cloud.githubusercontent.com/assets/976006/19828035/516f

[2016-10-29 07:44] talgalili commented on #22
Hi @dsrwac

They appear a bit low resolution because there is no curve in their edges (this is because of the following bug I filed in plotly: https://github.com/ropensci/plotly/issues/625 ).
It is possible to reduce the line width of the dendrograms if they are created outside the heatmap. For example:

[code]

Will produce:

![image](https://cloud.githubusercontent.com/assets/976006/19828035/516

[2016-10-29 09:39] talgalili commented on #22
Update: the latest build seems to be solid and the following code should work:

[code]

Cheers,
Tal

[2016-10-29 09:39] #22 closed

[2016-10-30 08:46] dsrwac commented on #22
...looks great, thanks for the update

Best,

Dirk

[2016-10-30 08:49] talgalili commented on #22
My pleasure. The only limitation is that the grid color only works for small datasets. For larger ones it would run into another bug in plotly (I submitted it already here: https://github.com/ropensci/plotly/issues/777 ).
I am a bit restricted in fixing these things, they rely on plotly fixing it. But I would like to be optimistic that eventually they'll get to it - at which point this feature wou

[2016-10-30 14:23] Alanocallaghan commented on #20
Have you compared the efficiency of ggplotly heatmaps versus native plotly commands for large matrices? There will inevitably be some upper limit due to the number of features being drawn, at least unless plotly adds more WebGL functionality

[2016-10-30 14:28] talgalili commented on #20
Hi @Alanocallaghan
I checked this informally, and plot_ly(z = ..., type = "heatmap") is better in terms of the space it takes. This is why I believe that in the future there might be someone who could reduce the size of ggplotly outputs (at which point, heatmaply will benefit from it).

[2016-11-03 21:33] talgalili commented on #21
Hi @Alanocallaghan
First, beautiful work!
Second, I found two more bugs. This time in `col_side_colors`.

Example code:

[code]

The first call produce a heatmaply in which the tooltip doesn't work when hovering over it:

![image](https://cloud.githubusercontent.com/assets/976006/19985963/9e1b2c40-a21d-11e6-878f-dbcc7722e490.png)

The second call results in the following error:

Also, (not a bug,

[2016-11-03 21:44] Alanocallaghan commented on #21
Hi Tal,

I'll work on those errors. As for the legend, I had considered trying to put a legend of some sort into the plotly_empty() panels, but haven't gotten around to sketching it out yet

[2016-11-03 22:28] Alanocallaghan commented on #21
Okay, the second error is somewhat intentional; The idea is that if a data.frame is passed in for `col_side_colors` it should be the same "width" as the matrix being plotted. If a vector is passed in, it's just converted into such a "wide" data.frame. I could try to handle the case of a "narrow" data.frame as well, as long as it is as "long" as the matrix is "wide".

The second error seems to be c

[2016-11-03 22:46] Alanocallaghan commented on #21
Okay, found it! The bottom padding seems to be causing it. For some reason, the bottom padding causes the column dendrogram to interfere with the mouse-hover tooltip of the column-side colors, but the column colors don't interfere with the tooltips for the heatmap

[2016-11-03 22:58] Alanocallaghan commented on #21
My suggestion would be to remove this option temporarily and force users to rely on sizing policies in Shiny/htmlwidgets

[2016-11-03 23:52] Alanocallaghan commented on #21
I tried to figure out why this is happening but haven't had any luck yet... I suspect it might be a bug in plotly. For now, I've added a warning about this. I'll add in the dimension checking for col_side_colors I mentioned previously if you think it's advisable

[2016-11-05 14:24] talgalili commented on #21
Hi @Alanocallaghan
I am not sure if it should also handle narrow matrix or not, what do you think?
Either way, let me know if you think there is any more work you believe should be done at this stage. If yes - I'll wait for your next update. If not, I think I'll push this recent version to CRAN.

Thanks,
Tal

[2016-11-05 14:31] Alanocallaghan commented on #21
I think it might be dangerous, because in the rare case that a square matrix was being used, it might silently transpose it and give the wrong result.

As for extra work, I've submitted one final pull request that deals with the `col_side_colors` tooltip issue - I've also raised this issue on the plotly R library repo, so we can hopefully get a more permanent solution eventually
Cheers
Alan

[2016-11-05 15:06] talgalili commented on #21
Thanks for the push @Alanocallaghan

I just tried your recent pull, but I don't think this is the way to go (sorry):
1) The hover still doesn't seem to work.
2) I fear that letting go of the text at the bottom is too large a price to pay.

I decided to just write a warning saying the hover at the top doesn't work (I pushed it to github now).

[2016-11-05 15:07] #24 closed

[2016-11-05 15:08] #18 closed

[2016-11-05 15:28] Alanocallaghan commented on #21
Strange, I've tested it a few times and it has worked for me. Perhaps it's a separate issue in that case. Either way it was definitely not a good solution, I was reluctant to use it

[2016-11-06 10:00] talgalili commented on #21
heatmaply 0.6.0 is on CRAN :)

[2016-11-06 14:57] #21 closed

[2016-11-06 15:04] Alanocallaghan commented on #14
This feature may become possible with ggplot v2.2 (scheduled for release very soon): https://blog.rstudio.org/2016/09/30/ggplot2-2-2-0-coming-soon/

[2016-11-06 15:06] talgalili commented on #14
Thanks @Alanocallaghan .
I've also noticed it when this was announced :)

I am looking forward to see if it can indeed be used. You are welcome to give it a look yourself, the ggplot github reop has that version. I won't get to do it myself in the next two weeks.

With regards,
Tal

[2016-11-06 15:06] talgalili commented on #14
p.s. @Alanocallaghan : could you please send me your email? (to: tal.galili@gmail.com )

[2016-11-08 11:06] Alanocallaghan opened #28 "Dendrogram thickness parameter breaks ability to choose dendrograms"
Hi Tal, unfortunately the last addition of setting dendrogram thickness throws an error when the parameter "dendrogram" is set to remove either the row or column dendrogram, or both

    5: dendextend::set(cols, "branches_lwd", branches_lwd)
    4: heatmaply.heatmapr(hm, scale_fill_gradient_fun = scale_fill_gradient_fun,
           grid_color = grid_color, row_text_angle = row_text_angle,

[2016-11-08 11:20] talgalili commented on #28
Bummer.
Thanks for the report, I'll fix it later this week (or if you'll get to it before me - I'll take the pull request).

Cheers,
Tal

[2016-11-08 11:32] talgalili commented on #28
Hi @Alanocallaghan
I just pushed a patch (heatmaply 0.6.1). Could you please check to see that it solved the issue?

Thanks.

[2016-11-08 12:19] Alanocallaghan commented on #28
Works, except for a bug in my own code that it cause me to spot! Cheers for the quick fix

[2016-11-08 12:38] #28 closed

[2016-11-11 15:27] Alanocallaghan opened #30 "hide_colorbar bug"
From `heatmaply.heatmapr`, this code will always raise an error. plotly::hide_colorbar should be used instead.

    if (hide_colorbar) {
        p <- hide_colorbar(p)
    }

[2016-11-11 17:48] talgalili commented on #30
I added an import from plotly for the function, this should solve any error.

[code]

[2016-11-11 17:48] #30 closed

[2017-01-04 22:05] juyeongkim opened #31 "Version 0.6.1 on CRAN"
Do you plan to release version 0.6.1 to CRAN? Or wait til more bug fixes and features?

[2017-01-04 22:13] talgalili commented on #31
I was thinking of making a few more fixes before an official release. Do
you have a preference?

[2017-01-04 23:58] juyeongkim commented on #31
@talgalili I would prefer releasing now since dendrogram parameter (ce1c278) is a rather important functionality in heatmap visualization.

That said, I am okay with waiting for more bug fixes as the submission process can be tedious and CRAN people are busy.

[2017-01-25 00:46] juyeongkim commented on #31
Thank you!

[2017-01-25 00:46] #31 closed

[2017-01-25 06:28] talgalili commented on #31
My pleasure.  :)
Tal

[2017-01-27 18:39] kbeck527 opened #32 "Error with two column dataframe"
(I think I filed this on the dextend package first on accident, so posting correctly here)

I am trying to plot a simple two columned dataframe and receive the following error:

`Error: all(vapply(s, is.integer, NA)) is not TRUE`

The dataframe I'm working with has two columns each with class = integer so I'm not seeing where this would come from. I have attached a subset of the df that still crea

[2017-01-27 19:17] talgalili commented on #32
Hi there,
I see you are using heatmaply 0.6.0. Please update to the latest on CRAN (0.7.0). This is working fine for me:

![image](https://cloud.githubusercontent.com/assets/976006/22384178/e1405388-e4d5-11e6-88da-53cb537547f6.png)

Please let me know if it doesn't.

Cheers,
Tal

[2017-01-27 19:17] #32 closed

[2017-01-27 19:19] talgalili commented on #32
p.s.: consider using the following for an alternative look at your data:

`heatmaply(percentize(example_df))`

![image](https://cloud.githubusercontent.com/assets/976006/22384273/3a68a5a0-e4d6-11e6-81ba-ae42853e0b84.png)

[2017-01-27 20:01] kbeck527 commented on #32
Good tip on the percentize. I will update and see how it goes. Thanks!

[2017-02-07 14:58] bberger94 opened #33 "Modebarbuttons non-responsive"
Hey I tried the “compare data on hover” and “show closest data” buttons in the plotly menu of heatmaply and it seems to be non responsive, can you resolve this please?

[2017-02-15 10:10] BTessoulin opened #34 "Possibility to provide heatmaply with already calculated hclust() outputs?"
Hi, many thanks for this beautiful tool, really cool to share some stuff with people.

I was wondering whether we could implement a "Rowv" or "Colv" function into heatmaply. I usually clusterize like hclust(as.dist(1-cor(x))), which gives me good results for RNA seq datas and GEP.

Tahnk you!

[2017-02-15 12:55] talgalili commented on #34
Hi @BTessoulin,
This is already implemented in heatmaply. However, I do see it was not mentioned in the documents, so I've now added it (in the most recent version on github).
Here is an example code:

[code]

[2017-02-15 12:55] #34 closed

[2017-02-18 13:22] Alanocallaghan commented on #14
@talgalili

I've made some progress on this and #20, by adding an option to use native `plot_ly` functionality (in lieu of `ggplotly`). I'll try to do some informal testing and maybe write some formal `testthat` tests for the package when I get time and submit a PR.

Feel free to have a look and do some informal testing too if you have time; you can switch to `plotly` functionality using the param

[2017-02-18 13:22] Alanocallaghan commented on #14
Should clarify this is on my fork https://github.com/Alanocallaghan/heatmaply

[2017-03-07 01:05] kbeck527 commented on #32
Hi Tal. I have updated to heatmaply 0.7.0 and can generate the heatmap locally, but on our cluster, I'm still getting the error. Do you have any idea what could be causing that?

Here is the updated sessionInfo of our cluster:
[code]

[2017-03-08 00:38] Alanocallaghan opened #35 "Legends for side colour plots"
Currently `layout(showlegend=FALSE)` is run on the subplot object. This prevents any modifications of the colorbar using `colorbar()` but it also hides the legend for the side colour plots (and dendrogram traces). We can get around this by setting `show_legend` on the actual plotly objects as they are created. Unfortunately this is not consistent between `plot_ly(..., showlegend=FALSE)` and `ggplo

[2017-03-08 00:39] Alanocallaghan commented on #35
It may be necessary to transition the side colour plots to native plotly to be able to fully control this

[2017-03-08 00:48] Alanocallaghan commented on #35
An (ugly) workaround is to set the overall legend y position to zero, which puts it at the bottom, hopefully out of the way of the colorbar. Ideally you would allow the user to move and resize both.

http://i.imgur.com/GC5rX5A.png

[2017-03-08 01:02] Alanocallaghan commented on #35
It seems that plotly doesn't respect colorbar adjustments in subplots for some reason. I'll raise an issue over there shortly

[2017-03-08 09:28] talgalili commented on #35
Thanks for taking this issue on @Alanocallaghan

Tal

[2017-03-08 11:15] talgalili commented on #32
I'm not sure what to say about that. What code is running in the cluster exactly?

[2017-03-21 11:16] gsimchoni opened #36 "Tool tip when hovering to include dimnames instead of "row" and "column""
Currently the default tool tip when hovering over a cell displays:
"value: x
row: y
column: z"

It would be great if the text displayed would automatically have the dimnames written inside. Instead of "row" and "column" it should be "xVar" and "yVar".

[2017-03-21 11:23] gsimchoni opened #37 "Handling "long" data automatically"
It would be great to have heatmaply work seamlessly on "long" data. I try to have my data long, i.e.:
xVar | yVar | value

And in order to work with heatmaply I need to do something like:

[code]

Perhaps a boolean parameter "isLongData" could trigger these steps when TRUE?

[2017-03-21 12:47] Alanocallaghan commented on #36
This seems like a slightly arbitrary change; I don't find xVar and yVar any more preferable than row and column. It might be useful to allow users to specify what should be displayed instead of "row" and "column" though

[2017-03-21 12:49] Alanocallaghan commented on #37
I think a second long data input argument would be a better choice than adding a boolean. The difficulty might be in validating that the long data behaves similarly.

[2017-03-21 13:01] gsimchoni commented on #36
@Alanocallaghan I meant "xVar" and "yVar" as the dimensions names which come with the data frame, not literally xVar and yVar.

[2017-03-21 16:26] Alanocallaghan commented on #36
This is specifically related to #37 then?

[2017-03-21 17:09] gsimchoni commented on #36
No, there is no relation. Even with wide data, e.g. a matrix - it might have dimnames, a name for the rows, a name for the columns. It would be nice for heatmaply to pick up on these names, showing them automatically in the tool tip. At the very least it be nice to have a couple of parameters to allow the user to specify a string instead of "row", a string inside of "column" and a string instead o

[2017-03-21 18:34] Alanocallaghan commented on #36
If the above is the feature you were requesting, I've implemented it on the "dimnames" branch. Named dimnames are only possible in R on a matrix, so you will have to ensure that your input is a matrix for it to work. If you run into any issues with this functionality please post here, thanks https://github.com/talgalili/heatmaply/tree/dimnames

[2017-03-22 07:46] gsimchoni commented on #36
I tested it and it worked great on a matrix, thanks!

With a data frame, which has NULL `names(dimnames)`, it might be useful to just let the user pass these "rowLabel" and "colLabel" arguments, along with an argument for the string which would appear instead of "value" (and it will also be useful for a matrix).

[2017-03-22 10:45] Alanocallaghan commented on #36
Sounds good. I might opt for a single vector for all 3 names, but the principle is the same.

[2017-03-22 10:57] Alanocallaghan commented on #37
I think for long data you need to enforce a structure, ie defined column names, to try to ensure that the data is in the expected order. My preference would be `c("name", "variable", "value")`

Using base R or reshape is probably preferably to relying on Hadley's packages.

Following this, you would need to remove the rownames column and ensure the data is numeric. A unit test should be written to

[2017-03-22 20:03] Alanocallaghan commented on #37
@gsimchoni

I've made a first pass implementation of this, but it's not thoroughly tested yet. Feel free to test it informally, I've made the edits on the same branch as before. This should mean that this issue and #36 are solved, if successful
https://github.com/talgalili/heatmaply/tree/dimnames

[2017-03-23 17:21] Alanocallaghan commented on #36
This is implemented using the argument `label_names`, which should be a vector of length 3.

[2017-03-23 22:40] Alanocallaghan opened #38 "Native plotly sidebar plots"
In order to create native plotly sidebars, it's necessary to map variables from factors to integers, and then to create a colorbar mapping the integers to matching colors and tick labels (the tick values being the integers). This could be accomplished by unlisting a data.frame, eg
    levs <- as.numeric(factor(unlist(df)))
    colors <- setNames(colorspace::rainbow_hcl(levs), levs)

You would then

[2017-03-24 15:10] anniepyim opened #39 "cexRow and cexCol do not work"
I could not adjust the font size of labels with cexRow and cexCol. While the layout could adjust the size, font family and font size of the title, it only changes the font family of labels but not the size and color. Are there some ways to work around it?

[2017-03-24 16:14] Alanocallaghan commented on #39
This is not a currently accepted parameter. You should be able to adjust this in the layout by adjusting
the axis tickfont https://plot.ly/r/reference/#layout-xaxis-tickfont. Bear in mind there may be multiple axes.

[2017-03-30 17:19] Alanocallaghan opened #41 "Add scaling in the style of heatmap.2"
Column and row scaling (ie, z-scoring) should be possible via a "scale" parameter. It might be useful to allow for centering or scaling as desired.

[2017-03-30 18:33] talgalili commented on #41
Hi Alan,
It already is possible (it is passed to heatmapr):
[code]

![image](https://cloud.githubusercontent.com/assets/976006/24520221/616a5fbe-1590-11e7-9e6e-6735cacbd57b.png)

What should be done is to add this option to the document of heatmaply (and not heatmapr only). If you won't get to it, I'll do it in a day (or maybe a bit more).

Thanks :)
Tal

[2017-03-30 21:21] Alanocallaghan commented on #41
Thanks Tal, sorry I had a quick effort but it didn't seem to work. I'll be doing some edits over the weekend so I can have a deeper look. Hopefully I can merge the two branches I made also

[2017-03-30 21:21] #41 closed

[2017-03-31 20:47] talgalili commented on #41
Done.

[2017-04-01 09:24] talgalili opened #42 "Print Cell Labels in Heatmap"
Like asked here: https://github.com/rstudio/d3heatmap/issues/74

[2017-04-01 10:57] Alanocallaghan commented on #42
I was thinking of adding this, I can have a look today if you're not actively working on it

[2017-04-01 11:18] talgalili commented on #42
Tal

[2017-04-01 13:11] Alanocallaghan commented on #42
Unfortunately...

    geom_GeomLabel() has yet to be implemented in plotly.
    If you'd like to see this geom implemented,
    Please open an issue with your example code at
    https://github.com/ropensci/plotly/issues

For now, I could implement separate mouseover values using cellnote

[2017-04-01 13:15] Alanocallaghan commented on #42
Apologies, that was with geom_label. geom_text works.

[2017-04-01 13:41] Alanocallaghan commented on #42
Seems to work okay thusfar, though unfortunately the mouseover currently hides the main matrix mouseover. Hopefully this is fixable.

Okay, the way I see it, we need a `cellnote` parameter (the matrix), and a `draw_cellnote` boolean parameter. By default `cellnote` will be the input matrix, but can be changed, and `draw_cellnote` should just decide whether to draw it. `cellnote_scale` can be dropp

[2017-04-01 14:05] talgalili commented on #42
Good progress.
I think option 3 is probably best. If people would need extra control over
this in the future, this could be re-evaluated.

Thanks :)

[2017-04-03 16:41] Alanocallaghan commented on #9
This is a difficult problem. First of all, data.frames require unique rownames in R. Secondly, rownames are used to identify rows (the data is reshaped into long format internally).

A workaround I have used for situations like this is to use whitespace as names. This allows you to use "blank" names, eg `c("a", " ", "  ", "   ", "    ", "b")`. I could implement some form of this internally, but it

[2017-04-03 18:04] Alanocallaghan commented on #39
This will be implemented in a coming release as `cex_row` and `cex_col`

[2017-04-03 18:30] talgalili commented on #39
Hi Alan,
A thought: it may be good to keep cexRow and cexCol available also just for
backward compatibility.

[2017-04-03 19:26] Alanocallaghan commented on #39
I appreciate the advantage of "backwards compatibility", but I think providing multiple versions of too many parameters can bloat the documentation and code, with little to gain.

Personally, I would rather a short parameter name such as `fontsize_row` or `fontsize_col` for consistency with the naming of other parameters (underscores, no CamelCase). Similarity to ggplot2 params would also be an op

[2017-04-03 19:30] talgalili commented on #39
I would generally agree with you, but since gplots::heatmaply.2 is so
common, I do believe we should help users in supporting their parameters
out of the box.
In terms of a bloated help file, there are nice ways to merge the names to
be side by side.
For example, notice how in:
?heatmaply::heatmaply
The parameters
ColSideColors, RowSideColors
are displayed.
I think a similar grouping should be don

[2017-04-03 19:52] Alanocallaghan commented on #39
I notice that this is sort of already implemented as `x/yaxis_font_size`, which should also be affected by `cexRow/Col`. However, this is in `heatmapr` and it is not used elsewhere in the code. It doesn't make sense for this parameter to be here, as this function mainly performs clustering and re-ordering.

This perhaps points to a wider issue of unused parameters, duplicated code, and lack of cle

[2017-04-03 19:58] talgalili commented on #39
Hi @Alanocallaghan
The original premise was to have heatmapr create the needed objects for creating the heatmap, and then for heatmaply to make the plot (and maybe also implement a ggheatmap function, but that is less urgent).
As time passed I realized that people don't read the help file in heatmapr, so I moved to explicitly stating many of the parameters explicitly in heatmaply (although they ar

[2017-04-03 20:02] talgalili opened #44 "Encapsulate the creation of dendrograms"
The exact same process is repeated for creating both the Rowv and Colv.
Both might as well be moved to a dedicated function that will handle this.
In the future, this would also make it simpler to implement the recent `find_dend` from dendextend (this should be used based on a given distance metric).

[2017-04-03 20:03] Alanocallaghan commented on #39
I think separating the data processing from plotting makes a lot of sense. It seems like `heatmapr` should not deal with graphical options or parameters, merely with data. We can then keep the `heatmapr` class minimal, and potentially write different plot methods for `heatmapr` objects which would all take the same parameter names. It might make sense to have a deeper discussion about where the pa

[2017-04-08 20:33] talgalili opened #45 "Fix height for ColSideColors"
In reproducing the following [example](http://www2.warwick.ac.uk/fac/sci/moac/people/students/peter_cock/r/heatmap/), I use this code:

[code]

This produces the following:

![image](https://cloud.githubusercontent.com/assets/976006/24832227/850d4952-1cb3-11e7-807f-b02a6fc8c0d3.png)

Using heatmaply we can get a similar results, except for the ColSideColors which are too long:

[code]

![image](ht

[2017-04-08 20:35] talgalili commented on #45
Hi @Alanocallaghan
I'm thinking of using this example for our paper. Any chance you can give this issue a look?
Also, if you have other good ideas for datasets to demonstrate, please let me know.
Thanks,
Tal

[2017-04-08 20:47] Alanocallaghan commented on #45
Sure, should be an easy fix

[2017-04-09 10:24] #45 closed

[2017-04-09 11:17] talgalili commented on #45
This fixed it. Thanks @Alanocallaghan

[code]

![image](https://cloud.githubusercontent.com/assets/976006/24836833/36862dfe-1d2f-11e7-9e30-ebdbccfd53b3.png)

[2017-04-09 13:07] Alanocallaghan commented on #45
Cheers. Check out the new fontsize_row and fontsize_col params on the master branch (aliases cexRow/cexCol), looks like they'd be useful here

[2017-04-09 13:23] talgalili opened #47 "plot_method="plotly" - produces a white space between dendrograms and matrix"
Example:

[code]

![image](https://cloud.githubusercontent.com/assets/976006/24837620/d49a5cb6-1d40-11e7-8e64-3593a35f42e0.png)

[2017-04-09 13:24] talgalili opened #48 "plot_method="plotly" - ignores k_col, k_row"
Example:

[code]

![image](https://cloud.githubusercontent.com/assets/976006/24837620/d49a5cb6-1d40-11e7-8e64-3593a35f42e0.png)

[2017-04-09 13:25] talgalili opened #49 "overlapping legend for plot_method="plotly" with row_dend_left = T"
Example:

[code]

![image](https://cloud.githubusercontent.com/assets/976006/24837632/23b8384a-1d41-11e7-9be8-2460a3c76c75.png)

[2017-04-09 13:30] talgalili opened #50 "Warning message when using plot_method="plotly""
Example:

[code]

[2017-04-09 14:02] Alanocallaghan commented on #50
Strange, I don't get this error. What version of plotly do you have? I'm on 4.5.6.9

[2017-04-09 14:04] talgalili commented on #50
plotly_4.5.6

[code]

[2017-04-09 14:12] talgalili commented on #50
mmm,
I updated ggplot2 and plotly from github, and now RStudio crashes whenever I run:

[code]

I'm using RStudio 1.0.136.

[2017-04-09 14:13] talgalili commented on #50
It might be related to the following error message:

[code]

[2017-04-09 14:14] talgalili commented on #50
o.k., but when testing with Rgui, I see that the warning message is gone. Hence, I'll close this issue.

[2017-04-09 14:14] #50 closed

[2017-04-09 14:16] talgalili commented on #49
With the latest version of ggplot2 and plotly this is still an issue, but the legend appears in a different location:

![image](https://cloud.githubusercontent.com/assets/976006/24837969/325bd18e-1d48-11e7-9301-4f3b346d4533.png)

[code]

[2017-04-09 14:19] Alanocallaghan commented on #50
Oh dear! I had some issues with x11 graphics devices on a new version of ggplot2 recently, possibly related.

[2017-04-09 14:36] Alanocallaghan commented on #47
I noticed this but haven't gotten to the bottom of it yet, it's quite annoying. It doesn't seem to  be related to plot padding

[2017-04-09 14:51] talgalili commented on #50
FYI, I just noticed that my RStudio was using R-devel. When I switched it back to using R 3.3.0, it was able to present heatmaply without crashing.

[2017-04-09 15:09] Alanocallaghan commented on #49
Partial fix on new branch, issue remains with colorbar length

[2017-04-09 15:10] Alanocallaghan commented on #47
Partial fix; issue apparently relates to axis range on dendrograms

[2017-04-09 15:47] Alanocallaghan commented on #50
I believe the recent issues I had were with R-3.3.2 or 3.3.3

[2017-04-09 19:52] talgalili opened #51 "cellnote doesn't seem to work"
It appears the cellnote is always based on the data in the original x variable.

For example:

[code]

![image](https://cloud.githubusercontent.com/assets/976006/24840527/2820d2ee-1d77-11e7-8b64-9976f850ecbb.png)

[2017-04-09 21:16] Alanocallaghan commented on #51
I noticed this earlier and should be fixed with this PR

[2017-04-09 21:22] #51 closed

[2017-04-10 07:54] talgalili commented on #22
UPDATE:

A new parameter was just added called "grid_gap", which can handle larger data matrices with ease.
I strongly suggest using this parameter from now on.

For example:

[code]

![image](https://cloud.githubusercontent.com/assets/976006/24851367/0c214bf4-1ddc-11e7-8c93-ae001836becc.png)

[2017-04-10 10:31] Alanocallaghan commented on #14
This is now possible when using the new option, `plot_method = "plotly"`. Hopefully, it will be possible in ggplotly once

When this is resolved, it will be fixed with plot_method = "ggplot" (currently the default)

[2017-04-10 10:32] #39 closed

[2017-04-10 10:32] #37 closed

[2017-04-10 10:33] Alanocallaghan commented on #36
This is now in the master branch

[2017-04-10 10:33] talgalili commented on #36
I was just working on it at the same time.
I'll try to incorporate my changes with yours now.

[2017-04-10 10:34] Alanocallaghan commented on #20
The new argument `plot_method` can be set to "plotly" which allows large matrices. This is largely all that can be done aside from manual optimisation of the resulting object or contributions to the plotly package(s)

[2017-04-10 10:34] #20 closed

[2017-04-10 11:13] talgalili commented on #14
Hi @Alanocallaghan
How would you make this look o.k.:

[code]

?

![image](https://cloud.githubusercontent.com/assets/976006/24859105/d52463fe-1df7-11e7-8976-a1a5046984de.png)

(thanks)

[2017-04-10 11:16] talgalili commented on #39
This is now indeed solved. Great job @Alanocallaghan

[code]

![image](https://cloud.githubusercontent.com/assets/976006/24859209/49037e9a-1df8-11e7-8a1d-64384d3ddc77.png)

[2017-04-10 11:54] Alanocallaghan commented on #14
I would add left and possibly top margin to the plot. Unfortunately plotly does not dodge legends, but I may have though of a hack/workaround to avoid this.

[2017-04-10 12:07] Alanocallaghan commented on #14
Try now

[2017-04-10 14:08] talgalili commented on #14
I'm off to Pesach dinner.
I'll continue this tomorrow :)

Hag Sameach (happy holiday) if you're celebrating one of them
(Pesach/easter),
Tal

[2017-04-11 07:36] talgalili commented on #49
The latest version seem to solve it:

![image](https://cloud.githubusercontent.com/assets/976006/24897700/9b2544d8-1ea2-11e7-99e3-90db926cfce0.png)

And also

[code]

![image](https://cloud.githubusercontent.com/assets/976006/24897724/ae21efe6-1ea2-11e7-9cff-3850b8cfc757.png)

Thanks.

[2017-04-11 07:36] #49 closed

[2017-04-11 07:37] talgalili commented on #49
Although I do wonder if in the case of

[code]

The current solution is the best one...

[2017-04-11 08:04] talgalili opened #53 "Get grid_gap to work when RowSideColors is used"
For example, in here:

[code]

We also want the grid to work on the row side color

![image](https://cloud.githubusercontent.com/assets/976006/24898730/81ef685a-1ea6-11e7-86ce-2d8a1736204e.png)

[2017-04-11 09:05] Alanocallaghan commented on #53
You could try replacing `geom_raster` with `geom_tile` in `side_color_plot`, as that should be the only major difference.

[2017-04-11 09:07] talgalili commented on #53
I'll try it now.

[2017-04-11 09:10] talgalili commented on #53
Nope, doesn't seem to work. I pushed this attempt to the main repo.
Yet I get:

[code]

With this output:

![image](https://cloud.githubusercontent.com/assets/976006/24901492/e7f3fcac-1eaf-11e7-93a6-42acc1c9e58d.png)

[2017-04-11 09:24] Alanocallaghan commented on #36
This could be extended to work for side color plots as well - probably only worth using the dimnames approach in that instance imo

[2017-04-11 20:52] Alanocallaghan commented on #48
@talgalili I've addressed this with one semi-major shortcoming. Unfortunately, the colors are not necessarily in the same order as in the standard ggplot plots. I think this is an issue with either how the colors come back from `dendextend::get_leaves_branches_col` or how plotly assigns colors to the line segments. Not sure how to fix this, it's certainly an improvement.

eg: ://imgur.com/a/XinTw

[2017-04-11 20:55] Alanocallaghan commented on #48
To be clear I don't think it's a bug with either, just a shortcoming in how they work in this situation

[2017-04-11 20:58] talgalili commented on #48
It is indeed an improvement :)

I would prefer them to be consistent (since some users may supply Rowv/Colv, in which case the colors might be meaningful to the user).
If you supply Rowv, would it still give different results?

For example:
[code]

(BTW, I noticed you used k_row = 1, this would need to be managed later on in haetmapr, once you push your commits  I can fix it).

[2017-04-11 21:19] Alanocallaghan commented on #48
It was actually a simple fix. Since ggplot sorts everything it takes in, you just need to sort the colors for plotly, too.

`k_row = 1` is mostly a workaround to make all branches black, which avoids duplicating the plotting method later on. This means it should work identically for user-supplied or heatmaply-generated dendrograms, since heatmapr now overwrites any coloring present I believe.

By

[2017-04-11 21:21] talgalili commented on #48
Glad you fixed it.
Regarding the hover info for the dendrogram, I believe it should behave like in the regular one, which is to show the height of the nearby branch (it can be informative in some cases).

As for ggplot, I'm not sure I understand how the sorting is done. If you can share an example, that may be helpful for me to understand (or just tell me which line of code solved it). Thanks :)

[2017-04-11 21:36] Alanocallaghan commented on #48
Makes sense; I tried to include the labels as well but unfortunately you get a mix of numeric and character values.

For character input, ggplot generally uses the equivalent of `levels(factor(input))` on all of the character inputs it takes. This will be the equivalent of `sort(input)` unless it is already a factor with levels. The line I changed is line 256 in `plots.R`, just to sort the colors

[2017-04-11 22:22] Alanocallaghan commented on #47
Incidentally a similar bug currently exits when `row_dend_left=TRUE` and `plot_method=ggplot`. In this case half of the topmost and bottom-most cells are cut off due to the limits being set by the row dendrogram. This should be fixed by #54

[2017-04-11 23:08] #48 closed

[2017-04-11 23:09] #47 closed

[2017-04-12 06:55] talgalili opened #55 "Fix legend position for plot_method = "plotly""
In the most recent version,

[code]

Leads to this:

![image](https://cloud.githubusercontent.com/assets/976006/24944920/d8448400-1f65-11e7-89fa-076bed9041e1.png)

Also with :+1:
[code]

It overlaps the dendrograms:

![image](https://cloud.githubusercontent.com/assets/976006/24944951/f758d04e-1f65-11e7-9490-08b0440c158f.png)

Is this something that warrants a bug report at plotly? (to ask them to

[2017-04-12 07:13] talgalili commented on #48
Regarding the sorting done via the `factor` function, this makes a lot of sense to me.
As for the solution you used, I understand it now, thanks.
This may not work for all situations. I'll open an issue now.

[2017-04-12 07:15] talgalili opened #56 "plot_method = "plotly" fails when colors are numeric"
Example:

[code]

Running it with character colors (or with ggplot) works fine:

[code]

![image](https://cloud.githubusercontent.com/assets/976006/24945699/fc933ccc-1f68-11e7-84b9-4faf62b836d4.png)

[2017-04-12 07:17] talgalili commented on #56
(This isn't urgent. But worth documenting)

[2017-04-12 07:18] talgalili commented on #47
Great to have this solved. Thanks.

[2017-04-12 08:23] Alanocallaghan commented on #56
I'm leaving this open as I still get a warning and I don't know what it's related to. I also got a frankly hellish ggplot2 bug that has left me quite paranoid.

[2017-04-12 08:36] talgalili commented on #56
It's o.k., this is not urgent :)
Finding a fix to the legends for plot_metho="plotly" would be nice though.

[2017-04-12 08:43] talgalili opened #57 "seriation for dendrogram="none""
Implement other seriation methods for when NOT including dendrogram (i.e.: using plotly's heatmap)

[2017-04-12 08:45] talgalili opened #58 "Implement hclust_method=NA"
When setting "hclust_method=NA" it should use the new dendextend::find_dend(dist) to location the best linkage function.

[2017-04-12 08:46] talgalili commented on #58
(Should be done after #44)

[2017-04-12 08:46] talgalili commented on #57
(Should be done after #44)

[2017-04-12 08:49] talgalili commented on #15
The heatmaply package is now tightly integrated into the new shinyHeatmaply package (available on CRAN and github), you are welcome to use it from here:
https://github.com/yonicd/shinyHeatmaply/

[2017-04-12 08:49] #15 closed

[2017-04-12 08:50] talgalili commented on #5
@Alanocallaghan
Is there any chance that heatmaply could detect the proper margins automatically?

[2017-04-12 08:56] #7 closed

[2017-04-12 08:56] Alanocallaghan commented on #5
Difficult, as it's a combination of font size and max label length, but possibly doable

[2017-04-12 08:57] Alanocallaghan commented on #55
I've improved this with this recent commit, and it seems to work in both situations moderately well for me, but I've not managed to test it too thoroughly yet.

[2017-04-12 08:59] talgalili commented on #55
I still get an overlap for both cases:
[code]

![image](https://cloud.githubusercontent.com/assets/976006/24949784/87ef5b44-1f77-11e7-810b-20ab04ba26b8.png)

![image](https://cloud.githubusercontent.com/assets/976006/24949757/74e680d6-1f77-11e7-978e-b7b473a46a8d.png)

[2017-04-12 09:04] Alanocallaghan commented on #55
Hmm, annoying. I'll fix it this evening.

[2017-04-12 14:40] Alanocallaghan commented on #5
It's actually very easy and I have implemented it in the `labels` branch, but unfortunately it tends to over-estimate due to letters like "I","l", "j", etc. You could get around this by using a monospace font by default but they generally look ugly as all hell so I'd be reluctant to. Still better than labels being cut off by default imo

[2017-04-12 14:47] Alanocallaghan commented on #55
I haven't been able to replicate this yet! Incredibly frustrating. I think allowing the user to position it themselves is useful anyway so I'll expose that functionality and try to fix this once and for all

[2017-04-12 14:50] Alanocallaghan commented on #55
What environment are you running these in by the way? RStudio on Windows? sessionInfo might be handy too

[2017-04-12 14:57] talgalili commented on #55
I'm away from my computer for a few hours, but I believe I pasted it somewhere on another issue recently.
And yes - it's RStudio on windows.

[2017-04-12 15:58] Alanocallaghan opened #59 "Allow named vector of colours for side colour plots"

[2017-04-12 21:16] talgalili commented on #55
Here we go: (I'm off to bed, will look at the rest tomorrow morning)

[code]

[2017-04-12 21:55] Alanocallaghan commented on #55
I've added some parameters to control positioning and the auto-placing seems to work with every option and environment I test

[2017-04-13 09:05] talgalili opened #61 "Missing branch colors for k_row>1 and plot_method = "plotly""
For example:

[code]

![image](https://cloud.githubusercontent.com/assets/976006/24998040/76493c32-2041-11e7-904a-198a3f87ef5d.png)

[2017-04-13 09:22] Alanocallaghan commented on #61
In this situation, the disappearing branches have colour `NA`

[2017-04-13 09:23] talgalili commented on #61
I know, I am working on this now - thanks.

[2017-04-13 09:26] #61 closed

[2017-04-13 09:56] talgalili commented on #61
(This also helped me find an annoying warning message that is now fixed, as well as somewhat better use of the extracted colors from as.ggdend)

[2017-04-13 11:25] talgalili opened #62 "Automatic margins"
Hi @Alanocallaghan

Running this
[code]

Results in this:

![image](https://cloud.githubusercontent.com/assets/976006/25002819/0521b822-2055-11e7-81a7-f98863112777.png)

This is a bit too conservative (looks like two times too conservative).

What do you think, can this be improved upon?

[2017-04-13 12:44] Alanocallaghan commented on #62
Definitely, I think the font size in pixels refers to the height rather than the width. In the interim I've simply divided by 2 until I can figure out a proper way to do this

ab6a96c

[2017-04-13 18:48] talgalili commented on #56
I believe I solved the warnings (they had to do with sorting "color" when it sometimes had NULL), I'm closing this. :)

[2017-04-13 18:48] #56 closed

[2017-04-13 18:50] talgalili commented on #42
So this is basically working, but is there a parameter for choosing the color? or a way to make the text have a halo? (right now the text is in black, which doesn't work with our color scheme).

[2017-04-13 18:51] talgalili commented on #33
These don't seem to have a meaning in our context. I removed these buttons completely.

[2017-04-13 18:51] #33 closed

[2017-04-13 21:03] Alanocallaghan commented on #42
I can add the text color parameter and make it work with `plot_method = "plotly"` but outline is looking to be trickier. If I don't get it sorted today I'll expose the color parameter and call it a day for 0.9.0

[2017-04-13 21:20] talgalili commented on #42
Sounds good :)

[2017-04-13 21:24] Alanocallaghan commented on #42
Can't add outline to plotly text layers, I'll add an issue over there. For now, it's at least slightly better.

[2017-04-14 21:47] Alanocallaghan commented on #42
@talgalili check out the "autocolor" branch, I implemented a method for predicting the cell color value based on the heatmap's color scale and then testing the luminosity of it (there are probably better ways to calculate luminosity but it's a quick hack for now). It's definitely not a long term solution as it relies on the internal structure of plotly objects.

Do you think this is a useful stopg

[2017-04-14 22:03] talgalili commented on #42
Hi @Alanocallaghan could you share here a screenshot of how it looks?
It sounds like a much better default than the one currently implemented - thanks.
And I would also prefer the outline, once plotly would implement it :)

[2017-04-14 23:05] Alanocallaghan commented on #42
There's a slight disparity between the plotly and ggplot2 methods currently due to how I mapped to colours (I found the nearest neighbour for plotly, rather than doing linear interpolation - simply to save time)

http://imgur.com/a/3ZF8G

[2017-04-15 10:47] Alanocallaghan commented on #42
I added interpolation and the colors now match. I also found a bug with heatmaply master which meant color palettes such as RdBu could not be used with plot_method = "plotly", I've pushed a fix to master

[2017-04-15 11:02] talgalili commented on #42
I looked at the screenshot, it looks much better @Alanocallaghan
Can the text be centered? (so it doesn't start at the center but center aligned)?

[2017-04-15 11:31] Alanocallaghan commented on #42
I'll add an argument to control alignment; personally I find this left alignment easier to read for numbers, but it's just a preference

[2017-04-15 11:35] talgalili commented on #42
ok, then we'll keep it as is.

[2017-05-05 11:07] anniepyim opened #63 "subplot_width/subplot_height not functioning"
Is it possible to adjust the width/height of the dendrogram on the left and the top?
Is subplot_widths for that purpose? I cannot get that working though...

[2017-05-05 11:55] Alanocallaghan commented on #63
Can you post an example please?

[2017-05-05 12:37] anniepyim commented on #63
![screen shot 2017-05-05 at 2 02 20 pm](https://cloud.githubusercontent.com/assets/7715488/25744661/61830d4e-319b-11e7-8608-b167a3217976.png)

Let's say I want to reduce the width of dendrogram on the right, and the height of the dendrogram at the top, so I could have a larger heatmap. How could I achieve this?

heatmaply(subsetdata,scale_fill_gradient_fun = ggplot2::scale_fill_gradient2(low = "bl

[2017-05-05 13:20] Alanocallaghan commented on #63
This seems to be two related bugs, for the time being the code below should accomplish what you need (providing you tweak the subplot_widths/subplot_heights values)

heatmaply(
    mtcars,
    scale="column",
    subplot_widths=c(0.5, 0.5),
    subplot_heights=c(0.5, 0.5),
    plot_method="plotly",
    col = RdBu) %>%
    layout(
        margin = list(l = 50, b = 80),
        xaxis = list(

[2017-05-05 13:23] Alanocallaghan commented on #63
This is not the desired behaviour... Using `plot_method="ggplot"`, this functionality is broken (only for widths, heights function as expected).

![screenshot from 2017-05-05 14-21-47](https://cloud.githubusercontent.com/assets/10779688/25747109/4b3431aa-319e-11e7-9c9f-374835e3254d.png)

[2017-05-05 13:25] Alanocallaghan commented on #63
Sorry @anniepyim you will need to install from this github repo rather than CRAN, ie `devtools::install_github("talgalili/heatmaply")`

[2017-05-05 13:29] talgalili commented on #63
Hi @Alanocallaghan
I think there is some bug in the right-side dendrogram that was somehow introduced by a recent version of ggplot2 on github. Could you verify this on your end?

[2017-05-05 13:37] Alanocallaghan commented on #63
It happens for me on ggplot2 v2.2.1.9000 and plotly 4.6.0, but not on ggplot2 v4.5.6 and v2.2.1. The issue is in converting from a ggplot object using ggplotly, so it might be a bug in ggplotly or a ggplot2 interface change.

[2017-05-05 13:45] Alanocallaghan commented on #63
I would note that it was fine until I updated ggplot2, so that is the more likely culprit

[2017-05-05 13:57] talgalili commented on #63
ok.
Using your code from above I get:

[code]

![image](https://cloud.githubusercontent.com/assets/976006/25748448/bb55407c-31b3-11e7-9928-5f5aa3f528ec.png)

And using it with the default plot_method now also works fine:

[code]
![image](https://cloud.githubusercontent.com/assets/976006/25748503/f808dd9e-31b3-11e7-84c6-86bdc76d4749.png)

[2017-05-05 14:04] #63 closed

[2017-05-05 14:05] talgalili commented on #63
@Alanocallaghan thanks for solving this. I've now closed the issue and added this was done to the various docs.

@anniepyim please see the following simple example for using the fixed parameters:

[code]

Which produces:

![image](https://cloud.githubusercontent.com/assets/976006/25748780/019b66a0-31b5-11e7-8971-2e12a841dd2a.png)

[2017-05-08 12:02] anniepyim commented on #63
@talgalili It looks like I have to put "plot_method="plotly"" to make that works?

[code]

Because without that I am getting something like this, where the dendrogram on the right is gone (it is actually there, but the orientation is wrong):

![screen shot 2017-05-08 at 1 57 53 pm](https://cloud.githubusercontent.com/assets/7715488/25803267/53fcb302-33f6-11e7-808a-e84b5d2601ed.png)

But with the "

[2017-05-08 12:49] talgalili commented on #63
Hi. What is your
sessionInfo()
?

[2017-05-08 12:53] anniepyim commented on #63
R version 3.3.1 (2016-06-21)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X 10.11.6 (El Capitan)

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] heatmaply_0.9.2    viridis_0.4.0      viridisLite_0.2.0  plotly_4.6.0.9000
[5] ggplot2

[2017-05-08 15:52] Alanocallaghan commented on #63
@anniepyim you can use the `col` argument to specify colours when using `plot_method = "plotly"`. This would be done by supplying a vector of colours:

    heatmaply(percentize(mtcars),
       col = colorRampPalette(c("blue", "white", "red"))(255),
       plot_method="plotly",
       subplot_widths=c(0.6, 0.4),
       subplot_heights=c(0.05, 0.95))

Or by specifying a palette function:

    heatma

[2017-05-08 15:52] Alanocallaghan commented on #63
@anniepyim you can use the `col` argument to specify colours when using `plot_method = "plotly"`. This would be done by supplying a vector of colours:

    heatmaply(percentize(mtcars),
       col = colorRampPalette(c("blue", "white", "red"))(255),
       plot_method="plotly",
       subplot_widths=c(0.6, 0.4),
       subplot_heights=c(0.05, 0.95))

Or by specifying a palette function:

    heatma

[2017-05-08 19:12] talgalili commented on #63
@anniepyim I think the dendrogram orientation problem is a new issue introduced by ggplot2. Download ggplot2 from CRAN and it should work.
In the next week or two we'll get to look into this ggplot2 bug and report it (once we understand if it is a ggplot2 or plotly issue - but I've noticed it works fine when using the CRAN version of ggplot2).

[2017-05-08 21:40] ndrubins opened #64 "Passing character matrix to cellnote"
Hi,
I was wondering if it will be possible to create a `heatmapr` object where `cellnote` is a `character` `matrix` rather than a `numerical` one?

Here's an example:
[code]
#hover over data
`my.hover.mat <- matrix(paste(paste(rownames(my.mat),paste("description",1:100,sep=" "),sep=":"),colnames(my.mat),signif(my.mat,3),sep="'</br>'"),nrow=100,ncol=10)

So would it be possible to create a `heatmap

[2017-05-08 21:44] talgalili commented on #64
Hi @ndrubins - you seem to be conflating two issues into one (the cellnote and the ggdend one). I'll wait to see if Alanocallaghan has something to add about the cellnote since he looked into that more.
As for accepting ggdend, I'm not sure I understand why this would be helpful. The dendextend package has many functions for manipulating dendrograms (for example, see `set`, `color_branches`, and t

[2017-05-08 21:54] ndrubins commented on #64
Hi @talgalili,

Do you prefer that I submit the celllnote issue separately from the ggdend one?
Other than that, my post pretty clearly mentions that these are separate, and hence independent.

WRT to dendextend's functions for manipulating dendrograms (e.g., through dynamicTreeCut), I played around with them quite a bit and got unsatisfactory results that I decided to implement some things myself

[2017-05-08 21:57] talgalili commented on #64
Hi @ndrubins. First, I think having an issue per topic is best - so please help us with organizing that.
Second, I am very open to suggestions and pull requests to dendextend (https://github.com/talgalili/dendextend/issues). Please think of the features you are missing and let's see how we can add them to the existing package. Not all combinations would be able to deal with ggdend (for example, he

[2017-05-08 22:58] ndrubins opened #65 "Passing ggdend objects to heatmapr rather than dendrograms"
Hi,

Due to unsuccessful experiences with `dynamicTreeCut` for finding the optimal number of clusters in a gene expression by samples clustered heat map I've decided to implement my own technique for achieving that. This technique essentially finds the depth in the dendrogram in which the resulting clusters (i.e. branches) are optimally separated. Subsequently, I cut the dendrogram according to th

[2017-05-08 23:04] ndrubins commented on #64
Done

[2017-05-09 11:07] Alanocallaghan commented on #64
This should be fixed now if you would like to test it

[2017-05-09 16:16] ndrubins commented on #64
Thanks a lot.

On Tue, May 9, 2017 at 4:07 AM, Alanocallaghan <notifications@github.com>
wrote:

[2017-05-09 17:59] #64 closed

[2017-05-09 18:02] #36 closed

[2017-05-09 18:50] talgalili commented on #64
Thanks @Alanocallaghan (I didn't get to review it yet - but it looks good from the commits)

[2017-05-09 22:44] Alanocallaghan commented on #64
Cheers tal it's a pretty simple edit, the only problem was trying to round it. Though I think enforcing matching dimnames might be safer, internally at least

On 9 May 2017 7:50 pm, Tal Galili <notifications@github.com> wrote:

Thanks @Alanocallaghan<https://github.com/Alanocallaghan> (I didn't get to review it yet - but it looks good from the commits)

—
You are receiving this because you were me

[2017-05-22 07:05] ndrubins opened #68 "User defined colors not working"
Hi,

I'm trying to plot a heatmap with user defined colors:

[code]

But I'm not getting the darkblue-darkred range but rather darkblue-yellow range.

Am I missing anything?

[2017-05-22 07:14] Alanocallaghan commented on #68
It sounds like it's defaulting to the plotly default colour scale, so something is definitely going wrong. I'll have a look shortly

[2017-05-22 07:15] talgalili commented on #68
There are several issues in your code:

1. you should pass colors to heatmaply, not heatmapr.
2. in general, you don't need to use heatmapr, you can just work with heatmaply (heatmapr is a more lower level function for generalizing the package in the future).
3. You should use colorRampPalette and not colorRamp
4. you can just define dendrogram = FALSE for short (this is from the heatmaply version

[2017-05-22 07:15] #68 closed

[2017-05-22 08:37] andbiy opened #69 "Interactively drag/drop and remove columns/lines"
Would it be possible to allow the user to drag/drop and remove columns/lines interactively from the plot? This would allow the user to truly customise the headmap interactively (e.g. for publications).

[2017-05-22 08:43] Alanocallaghan commented on #69
I don't believe this is supported by plotly.js, so not currently (unless I am mistaken)

[2017-05-22 08:44] talgalili commented on #69
Hi @andbiy
I trust @Alanocallaghan is correct.
What you could do is ask this here:
https://github.com/yonicd/shinyHeatmaply/issues
Since this could be added to the shiny app of heatmaply.

[2017-05-22 08:47] andbiy opened #70 "'Pan' mode allows user to move outside the plot margins"
When the 'pan' mode is active the user is able to move outside the plot margins such that you can end up with a white (empty) plot if you move out far enough. I think it would be nicer to not allow the user to extend the view over the end/margin of the plot.

[2017-05-22 08:54] andbiy opened #71 "Interactively highlight rows and/or columns"
Would it be possible to allow the user to interactively highlight rows and/or columns? This could give the user an improved orientation in large heatmaps when he/she is moving around within zoom-in views.

[2017-05-22 09:04] andbiy commented on #69
Ok thx! I have opened my issue there. Is shinyHeatmaply not based on plotly.js?

[2017-05-22 09:42] Alanocallaghan commented on #71
Again, I'm not sure if this is possible in plotly.js, but I can investigate more thoroughly later

[2017-05-22 09:44] Alanocallaghan commented on #70
This is a good point, I'll see what the options are later today if possible

[2017-05-22 17:21] ndrubins commented on #68
I removed my `ggplot2` and `heatmaply` packages, and reinstalled them.

Then just trying out:
[code]
Throws these warnings and error:
[code]

[code]

[2017-05-22 19:40] Alanocallaghan commented on #68
This warning is from the latest (CRAN) version of plotly working with the latest version of ggplot2. I would highly recommend following the instructions and installing the newest version of ggplot2 from github

[2017-05-22 20:29] talgalili commented on #68
Can you reproduce his error?

Error: The length of the widths argument must be equal to the number of columns

[2017-05-22 22:00] Alanocallaghan commented on #68
I can't try right now but I can almost guarantee that it's related to the issue Carson emailed about re: plotly 4.7.0. We need to put a warning re: plotly 4.7.0 and CRAN ggplot2, I can do it early tomorrow if you don't get it first

[2017-05-23 02:35] #69 closed

[2017-05-24 09:56] talgalili commented on #68
Hi Alan,
I don't seem to be getting to it.
If you'll get to prepare it, I can push it to CRAN.

Thanks,
Tal

[2017-05-24 10:50] Alanocallaghan commented on #68
I've just pushed a commit that adds a warning. Sorry for the delay, I was without internet yesterday

[2017-05-29 11:27] ndrubins opened #72 "Getting an error: The length of the widths argument must be equal to the number of columns"
Hi,

Trying to run `heatmaply` for a 2319  x 486 matrix (`my.mat`) and getting this message:
`Error: The length of the widths argument must be equal to the number of columns
`
My call to heatmaply is simply: `heatmaply(my.mat)`.

Any idea?

[2017-05-29 15:37] Alanocallaghan commented on #72
Try updating plotly and ggplot2 as follows:

     install.packages("plotly")
     devtools::install_github("tidyverse/ggplot2")

[2017-05-30 18:40] Alanocallaghan commented on #70
I think the only option here is to remove the pan button.

@talgalili do you think it is appropriate to remove this option from the plotly modebar (and probably the zoom function also)?

[2017-05-30 19:52] Alanocallaghan commented on #53
Depends on #38 as xgap only works for heatmaps, and ggplotly only converts to heatmaps when numeric (I think)

[2017-05-30 21:03] talgalili commented on #70
Hi @Alanocallaghan
I think that given the options, it should remain the way it is. People might wish to zoom in and then pan and move the zoomed area.
What might be needed is a parameter for limiting the area in the plot in which a user can get to by using pan and drag, but I don't know if plotly offers such a feature.

[2017-05-30 21:05] talgalili commented on #53
Would this be worth opening an issue in ropensci/plotly? (I suspect not, but wanted to check in with you also)

[2017-05-30 21:45] Alanocallaghan commented on #53
No, I think it's pretty fundamental to how plotly.js handles heatmaps. It would be nice to get categorical heatmap support in plotly.js but I suspect that's a big ask! BTW, I'm making progress on that, but mouseover text may be a problem... Not sure if it's worth sacrificing that for the improvements that would be made

[2017-05-30 21:48] talgalili commented on #53
Mouseover is essential I believe. It might be worth suggesting as an issue on ropensci/plotly (I'll upvote it :) )

[2017-05-30 21:49] Alanocallaghan commented on #70
Searching for "pan" on the JS and R reference pages brings up nothing relevant, and I haven't seen anything else recently. I think this one is worth raising on the plotly.js github as it's something I would use in other applications too

[2017-05-30 21:55] Alanocallaghan commented on #70
Close: https://plot.ly/javascript/reference/#layout-yaxis-fixedrange

[2017-05-30 22:16] Alanocallaghan commented on #38
https://stackoverflow.com/questions/42726843/customize-hover-text-for-plotly-heatmap

[2017-05-30 22:16] Alanocallaghan commented on #38
https://stackoverflow.com/questions/42524450/using-discrete-custom-color-in-a-plotly-heatmap

[2017-05-30 22:17] Alanocallaghan commented on #38
Progress!

![screenshot from 2017-05-30 23-16-57](https://cloud.githubusercontent.com/assets/10779688/26607385/2bc2998e-458e-11e7-9072-a75b2ed59218.png)

[2017-05-30 22:18] Alanocallaghan commented on #53
I was just passing hovertext in the wrong format! Should be up and running with this in a few days

[2017-05-30 22:19] Alanocallaghan commented on #70
https://github.com/plotly/plotly.js/issues/887

[2017-05-30 22:25] Alanocallaghan commented on #38
https://github.com/plotly/plotly.js/issues/1747

[2017-05-31 08:46] talgalili commented on #70
o.k., then we'll keep this issue open in the hopes that plotly.js will add it at a later stage.

[2017-05-31 08:48] talgalili commented on #38
Cool. I hope the plotly.js people would get to add it...

[2017-05-31 09:07] talgalili commented on #53
That's great to hear, thanks!

[2017-05-31 20:20] Alanocallaghan commented on #38
Check the branch just here ^, I've got a working implementation. Actually easier/nicer than I imagined it would be, and this will (hopefully) also resolve #53 also. Not very well tested, though

[2017-05-31 20:22] Alanocallaghan opened #73 "Better example data for vignette and/or tests"
It would be good to include some example data which produces more interesting plots than the `mtcars` dataset, which is quite "dry" and serves mostly as a tech demo. I will try to include some public domain RNAseq data showing (eg) PAM50 clustering, and other suggestions are also welcome

[2017-05-31 20:28] Alanocallaghan commented on #72
@ndrubins has this helped?

[2017-05-31 20:30] Alanocallaghan commented on #5
Closing, will continue discussion of labels in #62 if there are any further issues

[2017-05-31 20:30] #5 closed

[2017-05-31 21:19] Alanocallaghan commented on #38
btw @talgalili the hover text for column side colours seems to work for me with this branch, same for you?

[2017-05-31 21:21] Alanocallaghan opened #74 "tests for each function in plots.R"

[2017-05-31 22:26] talgalili commented on #73
Hi Alan,
I fear that the examples would make the package larger and make it harder to push the package to CRAN. Instead, I created a new repo:
https://github.com/talgalili/heatmaplyExamples/
I added to it a vignette with several nice examples created for our paper.
I added you there as a collaborator. The package still needs much work, but it could be a safer place to experiment with adding exampl

[2017-05-31 22:30] Alanocallaghan commented on #73
Preferably the data would be fairly small, but merely be interesting biological or other data which shows clear patterns.

Alternatively we could look for data in the package dependencies.

[2017-05-31 22:32] talgalili commented on #73
The issue is less the data and more the heatmaply object itself in the vignette. Most of the examples I found would often be much larger than mtcars. But if you can come up with a nice examples, I am all for it.

[2017-06-01 10:36] talgalili commented on #59
Hi @Alanocallaghan
Could you add a few examples of how to use the new features? (in the examples and/or the vignette?)

Thanks!
Tal

[2017-06-01 11:02] Alanocallaghan commented on #59
Sure will do, I'll add to NEWS when finished also

[2017-06-01 11:04] chrbac opened #76 "Hover with cellnote issue"
The hover visuals is not present when the mouse cursor is on the cellnote. In order for the hover visuals to show each cell in the heatmap needs to be sufficiently large such that you can place the mouse in the side of the cell.

Naturally, the optimal solution would be if the hover visuals show no matter where the mouse cursor is on the cell.

[2017-06-01 11:55] Alanocallaghan commented on #76
This is probably not possible; the cellnote layer is created using the text argument of `add_trace`, which prevents us from hacking text in. Further, "row" and "variable" (the x and y co-ordinates) are numeric, to allow alignment with the other subplots (dendrograms, side color bars), so setting `hoverinfo="x+y+text"` would not be any more informative.

[code]

[2017-06-01 11:56] Alanocallaghan commented on #76
We could set `hoverinfo="text"` but this will simply show as hoverinfo the value displayed in the heatmap itself

[2017-06-10 08:12] talgalili opened #77 "Allow heatmap to be saved as a high resolution svg (or png/ etc.)"
This would make it simpler for authors to include the heatmap in their paper + the interactive version as a SM online.

[2017-06-12 09:21] Alanocallaghan opened #78 "row/column label overplotting"
"The overall display needs adjustment after some zooming in/out practices. The row names overlay with each other when number of rows are increased (say more than 160)."

[2017-06-12 09:37] talgalili commented on #78
The way to deal with this is if we could make the following work with dendrograms:

[code]

I've asked about something similar here:
https://github.com/ropensci/plotly/issues/1011

But I'm not sure how to make this work.

[2017-06-12 18:27] talgalili opened #79 "How much can the file size be reduced?"
Example:

[code]

28KB (in d3heatmap) vs 114KB (in heatmaply)

[2017-06-12 18:30] Alanocallaghan commented on #79
Part of this will be related to the fact that d3heatmap only uses the d3 library whereas plotly includes d3, crosstalk and a number of other libraries by default.

[2017-06-12 18:32] talgalili commented on #79
Hi @Alanocallaghan
The numbers I gave did not include the external plotly objects (if I include them, the size increase to over 3MB).
I also updated this with another example.

[2017-06-12 18:44] Alanocallaghan commented on #78
There is basically only one way to make it work; this would be to round the x co-ordinates of the segments of the dendrograms to allow them to fit on a categorical scale (ie, the same scale as the main heatmap.

This results in a non-conventional (but not wrong) dendrogram

![screenshot from 2017-06-12 19-42-41](https://user-images.githubusercontent.com/10779688/27049493-70b0be9a-4fa7-11e7-973a-5c

[2017-06-12 19:32] talgalili commented on #78
mmm, interesting.
Is there no change that Carson could introduce that would save us from this? (I fear it would make the users nervous).

[2017-06-12 19:33] Alanocallaghan commented on #78
It comes down to mixing categorical and numeric co-ordinate systems; you need to be able to provide common co-ordinates for these

[2017-06-12 19:47] Alanocallaghan commented on #78
It comes down to mixing categorical and numeric co-ordinate systems; you need to be able to provide common co-ordinates for the two axes. Thus, we need both to be numeric, and to manually specify the tick labels for the heatmap (the current default on `master`), or for both to categorical, and allow automatic labelling (the current implementation for this issue, when using `plot_method="plotly"` o

[2017-06-12 19:48] Alanocallaghan commented on #78
Actually, it might be worth raising the issue re: sampling of axis labels on the `plotly.js` repo, though it won't be quick to be added I imagine

[2017-06-12 19:56] Alanocallaghan commented on #78
https://github.com/plotly/plotly.js/issues/1779

[2017-06-12 19:57] talgalili commented on #78
I think it is worth making the case for it in the plotly repo (and even asking Carson to pay attention to it). This feature would help make the package more scalable for larger matrix while still keeping the visibility of the side labels usable.

[2017-06-12 19:58] Alanocallaghan commented on #78
As I said it's not a plotly R library issue; these are options which are passed directly to the underlying javascript, or it's in the hands of Etienne Pinard

[2017-06-12 20:05] talgalili commented on #78
I meant the plotly.js repo :) (and asking Carson to pay attention was so that it would hopefully get more attention from Etienne).

[2017-06-12 20:35] cpsievert commented on #78
Try using `ggplotly(dynamicTicks = TRUE)`

[2017-06-12 20:52] Alanocallaghan commented on #78
Not what I would term desired output ![screenshot from 2017-06-12 21-51-22](https://user-images.githubusercontent.com/10779688/27054575-57f86bde-4fb9-11e7-82f4-acdddaac4756.png)

[2017-06-12 21:43] cpsievert commented on #78
I'd consider this a bug in the R pkg. Should only be a problem when there is a colorbar and categorical axes.

[2017-06-12 21:50] cpsievert commented on #78
see https://github.com/ropensci/plotly/issues/1045

[2017-06-13 05:47] talgalili commented on #78
Hi @cpsievert ,
I've just updated to the latest plotly version which includes your patch, but this doesn't seem to solve the issue. I've added a new `dynamicTicks` argument to heatmaply so you could more easily debug this:

[code]

Output:

![image](https://user-images.githubusercontent.com/976006/27067689-e909c89c-5014-11e7-85ad-54ddac48aa20.png)

[2017-06-20 18:32] stevekm opened #80 "event_data("plotly_selected") not working in Shiny"
When trying to access the attribute `event_data("plotly_selected")` of the displayed `heatmaply` plot, the expected output does not seem to be showing up, and does not seem to be accessible from the rest of the Shiny app. See the following working example:

[code]

Output:
<img width="749" alt="screen shot 2017-06-20 at 2 28 46 pm" src="https://user-images.githubusercontent.com/10505524/27349334-d

[2017-06-20 19:08] talgalili commented on #80
@yonicd  ?

[2017-06-20 19:08] Alanocallaghan commented on #80
Not sure where this is coming from, it may be due it being within a subplot, or a general issue with heatmaps.
To narrow it down, can you try to see if you can get event data from a normal plotly heatmap? eg:

[code]

[2017-06-20 19:17] yonicd commented on #80
why are you loading `shinyHeatmaply` if you are using native `plotly` htmlwidgets?

[2017-06-20 19:24] stevekm commented on #80
@yonicd that was leftover from earlier testing.

We figured out that you can get even data, but only if you select part of the dendrogram.
<img width="1432" alt="screen shot 2017-06-20 at 3 22 34 pm" src="https://user-images.githubusercontent.com/10505524/27351777-7745d1d4-55cc-11e7-8c66-d5f796ebbfba.png">

I added the plotly heatmap suggested by @Alanocallaghan , but that does not seem to give re

[2017-06-20 19:46] yonicd commented on #80
my best guess is that the source argument is not passing well into the JS through the [event_data(.)](https://github.com/ropensci/plotly/blob/master/R/shiny.R#L68) function and then the wrong class name is being searched for in the Shiny.onInputChange in the plotly.js [script](https://github.com/ropensci/plotly/blob/master/inst/htmlwidgets/plotly.js#L247)

the hint i'm getting that it could be thi

[2017-06-20 19:47] Alanocallaghan commented on #80
This seems to be related to plotly heatmaps in general, not heatmaply. Plotly does not select heatmap cells when a selection box is drawn.

From `plotly.js` [docs](https://plot.ly/javascript/reference/#layout-dragmode):

dragmode
=======
Determines the mode of drag interactions. "select" and "lasso" apply only to scatter traces with markers or text. "orbit" and "turntable" apply only to 3D scenes.

[2017-06-20 20:04] stevekm commented on #80
Is there a recommended method then for selecting rows and columns from the heatmap for use with other parts of a Shiny app? Right now we are resorting to zooming in and copy/pasting the row names on the far left side.

[2017-06-22 15:20] stevekm commented on #80
for anyone interested, we came up with a hack~y solution [here](https://github.com/NCBI-Hackathons/Proteomic_Correlation_Shiny/blob/ace372fcff1b4a897b69c9b68c90c5246d5624ec/demo-shiny/app.R#L193) by switching back to `geom_point` and manipulating it to resemble a heatmap, and using it on a [pre-clustered dataframe](https://github.com/NCBI-Hackathons/Proteomic_Correlation_Shiny/blob/ace372fcff1b4a8

[2017-06-22 15:21] #80 closed

[2017-06-22 15:40] cpsievert commented on #78
I don't think this is a problem I can solve from plotly. You're using supplying different data for the x/y positions (discrete for the heatmap and numeric for the dendrogram). My advice would be to transform the dendrogram x/y to the corresponding discrete values when `dynamicTicks = TRUE`

[2017-06-22 16:59] Alanocallaghan commented on #80
Thanks @stevekm, the only alternative I can think of is using click events as heatmaps detect those fine, however that doesn't allow you to easily select regions. Glad you found a fix.

[2017-06-22 20:31] Alanocallaghan commented on #78
@cpsievert, I agree that's the most sensible way to do this, and I've implemented this with plotly. However I'm still having some problems with ggplotly. A reprex is below which you can use with the `develop` branch on this repo if you have time.

[code]

So the issue seems to be sharing axes... I think it was okay before since the axis types were different (categorical and numeric). Do I need to

[2017-06-22 21:01] cpsievert commented on #78
Sure, but why should `subplot()` do the thing you're expecting it to do when `h$p` has discrete x/y scales, but `h$py`/`h$px` has numeric x/y scales? You're trying to share two different scales...

[2017-06-23 07:27] Alanocallaghan commented on #78
I edited the dendrograms to use a discrete scale to match with the heatmap's discrete scale; admittedly I had left `coord_cartesian()`/`coord_flip()` calls in that might have been causing problems, but removing them hasn't helped.

[code]

Whereas for a numeric scale:
[code]

[2017-06-23 07:30] Alanocallaghan commented on #78
Also it's worth noting that `subplot()` DOES do the right thing, just not when dynamicTicks is enabled:

`subplot(h$py, plotly_empty(), h$p, h$px, nrows=2, shareX=TRUE, shareY=TRUE)`

[2017-06-23 16:13] cpsievert commented on #78
Sorry, I meant to say the data that you're supplying to x/y are different:

[code]

Thinking about this a bit more, I'm not actually sure a plot like this (with the auto-updating ticks) is possible in plotly.js right now. And to that point, I should point out the `dynamicTicks=TRUE` in `heatmaply(iris[, -5], dynamicTicks=TRUE, plot_method="plotly")` does nothing. The reason why it 'works' is becau

[2017-06-23 16:23] talgalili commented on #78
Thanks @cpsievert

I added "dynamicTicks=TRUE" as a place-holder to play with. Seeing the correspondence here, it seems clearer that this option will not be available also in the future, so I will later remove this argument.

As for your other remark - would making "nticks be respected when tickmode='array'" something that is on your end, or requires plotly.js modification?

[2017-06-23 16:40] cpsievert commented on #78
It would have to be implemented at the plotly.js level

[2017-06-23 16:41] Alanocallaghan commented on #78
On branch `develop` it is working correctly, see the example below. I've mapped the heatmap and dendrograms to the same discrete scale. I've also made the hovertext on the dendrograms show x and y co-ordinates for clarity (the heatmap is already showing that). Also, when `dynamicTicks=TRUE` and `plot_method="plotly"`, tickvals and ticktext are not specified on the heatmap or dendrograms.

[code]

[2017-06-23 16:42] Alanocallaghan commented on #78
I would note that the y axis labels are numbers, but are really numeric.

[code]

[2017-06-23 16:45] talgalili commented on #78
@Alanocallaghan - it is also worth noting that the dendrograms are not "well" mapped to the centers as they should be:

![image](https://user-images.githubusercontent.com/976006/27491753-423245e0-584c-11e7-87cd-17adf6d108b9.png)

(also there seems to be a space between the heatmap and the dendrogram)

I think that having the nticks work for tickmode='array'" sounds to be the more reasonable soluti

[2017-06-23 16:52] Alanocallaghan commented on #78
![screenshot from 2017-06-23 17-50-11](https://user-images.githubusercontent.com/10779688/27492004-7e56c272-583c-11e7-9047-ec1b38fbb3f9.png)
They are mapped to the centers, unfortunately rounding makes the dendrograms hard to interpret near the leaves (not that that is easy usually, but I digress).

The space between the heatmap and dendrogram is a minor issue and could easily be resolved by chang

[2017-06-23 16:56] talgalili commented on #78
Hi Alan, thanks for the explanation.
Could you please see if you have ideas on how to improve this issue:
https://github.com/plotly/plotly.js/issues/1812
If it could be simpler for the plotly.js people, I hope it would raise the chances they could address it sooner rather than later.

[2017-06-23 16:58] Alanocallaghan commented on #78
I agree that the plotly fix is more sensible, however I am convinced that something is amiss in ggplotly. I don't see why the dynamic ticks argument should scramble the x/y co-ordinates, as shown above...

I am not optimistic about plotly.js fixing this in time for the revision, so my inclination would be to implement this bodge/hack as an option, and then roll out a proper fix when the nticks iss

[2017-06-23 17:35] Alanocallaghan commented on #78
@cpsievert Try pulling develop now, it should be improved. Apologies if I hadn't pushed it until now, if so I was wasting everyone's time!

[2017-06-25 17:56] Alanocallaghan opened #81 "Add parameter to not plot row/column names"

[2017-06-25 18:25] talgalili commented on #81
Hi @Alanocallaghan
You mean instead of xlab = "" ? or you mean in the tooltip?

[2017-06-25 19:45] Alanocallaghan commented on #81
Xlab is for the axis title, no? I mean prevent plotting of axis ticks altogether

[2017-06-26 00:08] talgalili commented on #81
Ok. In which case, this was already implemented a few weeks ago in 0.10.1 from NEWS:

- showticklabels = c(TRUE, TRUE) - a 2d parameter to allow turning off of tick labels in the rows/columns - thus making the rendering of the plot much faster for larger matrix.

Is this what you meant?

Cheers
Tal

Sent from a smart-phone

[2017-06-26 06:29] Alanocallaghan commented on #81
Yep, must have missed it sorry

[2017-06-26 06:29] #81 closed

[2017-06-27 15:32] stevepowell99 commented on #77
exactly! heatmaply's heatmaps are better than the static alternatives like heatmap.2 anyway, so when I need a static heatmap e.g. for a pdf report, I could just use heatmaply.

[2017-06-27 16:36] Alanocallaghan commented on #77
@stevepowell99 this is a good interim solution for most htmlwidgets https://wkhtmltopdf.org/

[2017-07-13 09:05] sciencebuff opened #82 "Plot background colour"
Hi

I'm having some issues with the aesthetics of the plot when using a custom background colour and row_side_colors (it appears that "plot.background" is ignored when "row_side_colors" is used). This issue doesn't happen when using col_side_colors. Below is a minimal example.

[code]
no "row_side_colors"
<img width="254" alt="screen shot 2017-07-13 at 10 54 46" src="https://user-images.githubuser

[2017-07-13 09:42] Alanocallaghan commented on #82
Is the second image the result of running this?

[code]

[2017-07-13 09:53] sciencebuff commented on #82
sorry, I only ran the below for that image (without the col_side_colors).
'''heatmaply(mdat,
          row_side_colors = rownames(mdat),
          heatmap_layers = gg_back_box
)''

[2017-07-13 20:24] Alanocallaghan commented on #82
`heatmap_layer` is only added to the heatmap, not the side color plots.

See PR #83, it will resolve this by adding a `side_color_layers` parameter, which will allow the specification of background colors.

[2017-07-14 08:58] sciencebuff commented on #82
thanks, that works.

[2017-07-14 11:47] #82 closed

[2017-07-14 11:47] Alanocallaghan commented on #82
Cheers

[2017-07-18 12:53] nishuai opened #84 "How to control the size of the heatmap shown in shiny"
Thanks for the wonderful work with heatmaply, its very handy!

In plotly I would simply say plotly(x, width=1000) and combine it with plotlyOutout() to control the displayed size of the plot. But it seems defining 'height' and 'width' in either heatmapr() or heatmaply() doesn't really do anything, any suggestions?

[2017-07-18 13:19] Alanocallaghan commented on #84
Could you post an example of setting the width using plotly?

heatmaply returns plotly objects, so you should be able to use them similarly to other plotly objects

[2017-07-18 14:41] nishuai commented on #84
It's simple to do it in plotly, I can just say:

`output$ggplot1=renderPlotly(p=ggplot(df); ggplotly(p, width=1000))`

and in UI.R I put

`plotlyOutput(ggplot1)`

The size will be 1000px where I defined in ggplotly().

However in heatmaply if I do the same say:

`output$heatmap1=renderPlotly(heatmaply(df, width=1000))`
 or
`output$heatmap1=renderPlotly(p=heatmapr(df, width=1000); heatmaply(p))`

[2017-07-18 15:15] Alanocallaghan commented on #84
Try to use the `plotly::layout` function. This takes `width` and `height` arguments.

eg:
`heatmaply(df) %>% layout(width=1000)`

[2017-07-18 15:15] Alanocallaghan commented on #84
Or rather:

`output$heatmap1=renderPlotly(heatmaply(df) %>% layout(width=1000))`

[2017-07-19 12:00] nishuai commented on #84
Thank you Alanocallaghan, it's a great help!

[2017-07-19 12:30] Alanocallaghan commented on #84
Cheers. Closing this issue as it's not strictly heatmaply related

[2017-07-19 12:30] #84 closed

[2017-07-20 08:04] andbiy opened #85 "Multithreading for speed improvement"
I have a dataset with with 20K rows and 33 columns which takes quite some time when plotted with heatmaply. Would it be possible to increase the speed of heatmaply by the use of multithreading (additional 'threads' parameter)?

[2017-07-20 08:40] talgalili commented on #85
Hi @andbiy
I suggest to use the parameter:
showticklabels = c(FALSE, TRUE)

This would remove the ticklabels from your rows, and is likely to make the heatmap much faster to load.

I'm not aware of an alternative way to speed up the image.

With regards,
Tal

[2017-07-20 09:46] Alanocallaghan commented on #85
Most of the computationally expensive aspects are not parallelisable (eg, clustering). Turning off dendrograms for the rows would likely decrease computational time a great deal, ie `dendrogram = "column"`

[2017-07-23 09:14] danielcanueto opened #86 "width/height arguments unused"
Hi,

I'm performing interactive heatmaps with dozens of observations and features for a Shiny app. There was a change after March/April that stopped making the heatmap adapt to the size of the Shiny app window. It is very difficult to analyze the heatmap patterns in such a small heatmap. I try to change the width and height in the heatmapr function, but it doesn't seem to work.

Thank you for the

[2017-07-23 09:35] Alanocallaghan commented on #86
Can you post a [working example](https://stackoverflow.com/questions/5963269/how-to-make-a-great-r-reproducible-example) please?

[2017-07-23 10:09] danielcanueto commented on #86
Here there is an example:

heatmaply(heatmapr(matrix(rnorm(5000),100,50)))
heatmaply(heatmapr(matrix(rnorm(5000),100,50)),height=600,width=800)

[2017-07-23 10:27] Alanocallaghan commented on #86
heatmaply(heatmapr(matrix(rnorm(5000),100,50))) %>% layout(height=600,width=800)

[2017-07-23 10:29] Alanocallaghan commented on #86
You can't adjust the size of the heatmap here:

[code]

I can have a look into passing the arguments in correctly, but this should work for now.

[2017-07-23 10:33] Alanocallaghan commented on #86
fyi, `width` and `height` in `heatmapr()` currently do nothing.

[2017-07-23 12:34] danielcanueto commented on #86
Problem solved with layout option. Thank you for the quick reply.

[2017-07-23 19:46] Alanocallaghan commented on #86
@danielcanueto just going to keep this issue open so I can use the width and height arguments internally, feel free to unfollow the issue if you want

[2017-07-23 19:48] Alanocallaghan commented on #76
Perhaps you can add a z parameter simply for `hoverinfo`

[2017-07-27 09:46] #38 closed

[2017-07-27 09:46] #55 closed

[2017-07-27 09:46] #59 closed

[2017-07-27 10:31] #74 closed

[2017-08-04 15:10] Alanocallaghan opened #88 "Add option to cluster without showing dendrograms"
Useful in ComplexHeatmap, makes performance considerably better

[2017-08-04 17:06] talgalili commented on #88
Hi @Alanocallaghan
This is the intention in: https://github.com/talgalili/heatmaply/issues/57
This allows a more sophisticated ordering of the rows/columns than only relying on hierarchical clustering.

[2017-08-05 18:40] Alanocallaghan opened #89 "Better default colors for side color plots"
eg RColorBrewer. Currently they do not tend to have good contrast

[2017-08-05 18:58] talgalili commented on #89
Good idea :+1:

[2017-08-05 18:59] talgalili commented on #89
Another solution (which might also be good for RColorBrewer) is to have them not placed sequentially as they currently do, but to "zig zag" them a bit.
I remember seeing code for that somewhere that I never got to add here. After you move the color to RColorBrewer, I might find that code to include it also.

[2017-08-06 20:09] Alanocallaghan commented on #89
I've used qualitative palettes for the first 32 colors, beyond that it'll fall back to `colorspace::rainbow_hcl`. Probably best to shuffle as you suggest, though at that point color labels are almost useless anyway

[2017-08-06 20:32] talgalili commented on #89
Sounds good :+1:

[2017-08-07 15:25] Alanocallaghan opened #92 "Add argument to truncate matrix values after clustering"
Basically, retain the data values so that clustering is the same, but colour scale can be more compact and thus the heatmap more colorful

[2017-08-07 15:26] Alanocallaghan commented on #92
eg...
![screenshot from 2017-08-07 16-24-29](https://user-images.githubusercontent.com/10779688/29033486-23caae26-7b8d-11e7-90d5-0326bb10efdc.png)

[2017-08-07 15:26] Alanocallaghan commented on #92
Very washed out heatmap.

[2017-08-12 22:29] Alanocallaghan commented on #88
I'll close in favour of that issue; if you want any help implementing that let me know as I don't want to duplicate efforts

[2017-08-12 22:29] #88 closed

[2017-08-20 16:02] Alanocallaghan opened #93 "Separate each column of plotly side color plots?"
This would allow separate legends for each. Unfortunately, it might result in many legends, which would have to be dodged.

[2017-08-20 16:07] Alanocallaghan commented on #73
Better to keep this in heatmaplyExamples for now

[2017-08-20 16:07] #73 closed

[2017-08-20 16:08] #42 closed

[2017-08-20 16:12] Alanocallaghan commented on #14
Depends https://github.com/ropensci/plotly/pull/929

[2017-08-20 17:08] Alanocallaghan commented on #62
These do not currently take the size of the row/column annotation labels into account... Easy fix.

[2017-08-29 23:11] rspreafico opened #94 "col_side_colors not plotted with heatmapr"
This shows column annotations:
[code]

This does not show column annotations:
[code]

[2017-08-30 09:27] Alanocallaghan commented on #94
heatmaply.heatmapr currently doesn't look for row_side_colors or col_side_colors in the heatmap object

[2017-08-30 09:29] #94 closed

[2017-08-30 09:30] Alanocallaghan commented on #94
Thanks for raising the issue! If you spot any other bugs using heatmapr please let us know

[2017-08-31 21:25] nlhuong opened #95 "plot_method = "ggplot" does not work"
I installed heatmaply and ggplot2 with devtools::install_github.
However, heatmaply does not generate ggplot object even when plot_method = "ggplot"
is given as an argument.

Here are the commands and the sessionInfo():

[code]
[1] "plotly"     "htmlwidget"

`sessionInfo()`

R version 3.4.0 (2017-04-21)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Sierra 10.12.6

Matrix produc

[2017-09-01 18:10] Alanocallaghan commented on #95
The intention of `plot_method` is to choose which library produces the plots. `plot_method="ggplot"` simply uses ggplot to create plot objects, which are internally converted into plotly objects using `plotly::ggplotly()`.

If you wish to examine the ggplot objects which are turned into an interactive heatmap you could use `return_ppxpy=TRUE` (this also works with `plot_method="plotly"` to return

[2017-09-01 22:05] nlhuong commented on #95
Thank you! This explains my issue.

[2017-09-01 22:05] #95 closed

[2017-09-15 20:00] jcardenas14 opened #97 "Add option to plot heat map of circles instead of rectangles using geom_point"
Looking at the source code, it seems to me a pretty simple addition to the add the option of creating the heat map using geom_point instead of geom_tile. Check out the link see a demonstration of what I mean. http://www.nature.com/nri/journal/v14/n4/fig_tab/nri3642_F3.html

[2017-09-15 20:23] Alanocallaghan commented on #97
Interesting idea. Generally the advantage of this type of plot over a normal heatmap is the ability to map point size to a variable. An example I've seen is when visualising a correlation matrix, where point size is mapped to -log10(p-value), and point colour is mapped to correlation coefficient

[2017-09-15 20:33] jcardenas14 commented on #97
Yeah that's exactly what I do in one of my correlation tools...but as per the link I sent, in my field it's popular to visualize summaries of gene sets as dots instead of rectangles (since you're typically only looking at at most a few hundred gene sets as opposed to thousands of genes, visualizing the circles is still possible).

[2017-09-16 10:12] Alanocallaghan commented on #97
@jcardenas14 you can test this functionality on the branch `scatter` (installed using `devtools::install_github("talgalili/heatmaply", ref="scatter")`). I'm not 100% on merging this to master just yet as I think the ability to map point size is useful.

The basic functionality can be used thusly (`grid_size` controls point size for the time being):
`heatmaply(mtcars, node_type="scatter", grid_size

[2017-09-16 14:02] jcardenas14 commented on #97
Awesome, thanks!

On Sat, Sep 16, 2017 at 5:12 AM Alanocallaghan <notifications@github.com>
wrote:

[2017-09-24 15:12] talgalili opened #99 "grid_gap warning message"
Running:

[code]

Results in:
[code]

This doesn't happen when using `plot_method = "plotly"`
[code]

Also:

[code]

[2017-09-25 00:58] talgalili opened #100 "add file_width / file_height"
Add arguments to control the width/height of the output when saving to a png/pdf/html file (notice how these should use different scale/values/defaults for html vs png/jpeg vs pdf).

[2017-09-25 00:59] talgalili commented on #99
@Alanocallaghan - do you have an idea of how to solve this one?

[2017-09-25 10:18] Alanocallaghan commented on #99
I can have a look this evening, I don't know off the top of my head.

[2017-09-25 19:32] #89 closed

[2017-09-29 16:25] sbcrg opened #101 "Rowv not working?"
Hi,

I think the "Rowv" argument doesn't work properly.
In the help page it says "If a vector of integers, then dendrogram is computed and reordered based on the order of the vector."
When I try, it gives a warning and doesn't reorder.
Simple example:

m <- matrix(1:12,ncol=4)
rownames(m) <- LETTERS[1:3]
heatmaply(m, Rowv=c("A","C", "B"))

Warning message:
In heatmapr(x, row_side_colors = row_side

[2017-09-29 16:29] Alanocallaghan commented on #101
The argument accepts integers, not letters.

[code]

[2017-09-29 16:29] #101 closed

[2017-09-29 16:33] sbcrg commented on #101
Ok right, my mistake for quick reading... Could this be added as a feature to accept character vectors? My rownames are usually gene names or so. That would be useful...
Thanks a lot.

[2017-09-29 17:31] Alanocallaghan commented on #101
Internally, this would just match Rowv with the rownames of the input matrix, which is basically all you have to do to convert between character and numeric, ie for your example `Rowv=match(c("A","C", "B"), LETTERS[1:3])`

@talgalili - thoughts?

[2017-09-29 17:52] talgalili commented on #101
@sbcrg - could you help explain why you want to use the labels of the original data? Is it because you want the rows to be ordered as closely to the original data as possible? (in which case, why not just use Rowv=FALSE ?). As @Alanocallaghan wrote, we can add this feature, but it would help us understand the use case (both for understanding if this is something that is likely for others to need,

[2017-09-29 17:57] talgalili opened #102 "Remove Ticks when removing labels"
From here: https://stackoverflow.com/questions/46460094/heatmaply-remove-ticks

It makes sense actually to also remove the ticks.

[2017-09-29 17:57] talgalili commented on #102
@Alanocallaghan  what do you think?

[2017-09-29 17:59] Alanocallaghan commented on #102
I had noticed this as well. I'll fix it

[2017-09-29 18:14] Alanocallaghan opened #103 "cellnote size argument"
https://stackoverflow.com/questions/44111860/problems-with-cellnote-in-heatmaply

[2017-09-29 19:50] #102 closed

[2017-09-29 19:50] #103 closed

[2017-09-29 20:52] Alanocallaghan commented on #100
The arguments should probably be `NULL` by default, then internally choose default values based on the device (eg, 500x800 for PNG, 5x8 for PDF, etc)

[2017-09-29 21:01] Alanocallaghan commented on #99
@talgalili sorry for the delay.

It looks like plotly now creates a `scatter` trace seemingly just for the colorbar. Not sure why this is the case, `suppressWarnings()` is an option but I don't like using it when I don't know the source of the warning.

See:
[code]

[2017-09-29 21:05] Alanocallaghan commented on #99
I just realised the `style` function has a `traces` argument... Issuing a PR now

[2017-09-29 21:20] Alanocallaghan commented on #97
@talgalili - thoughts on this? I think it's potentially really useful, but it would require quite a bit of thought to implement.

EG,

[code]

[2017-09-29 21:33] #99 closed

[2017-09-29 22:00] jcardenas14 commented on #97
I definitely think this is useful, but agree that it will take some thought
to implement. I played around with the option to plot circles that you
added but ran into major performance issues (extremely slow plotting and
reactivity) when plotting a 260x400 heat map...I plotted that same matrix
using the default squares and there were no performance issues. I'm
wondering if geom_point is slower than

[2017-09-30 08:26] talgalili commented on #99
Seems to work now, thanks @Alanocallaghan.

[2017-09-30 08:26] talgalili commented on #100
I agree.

[2017-09-30 08:31] talgalili commented on #97
Hi @Alanocallaghan
I agree this could be a nice addition, but don't see myself getting to iron it out. If you wish to have a go at it - be my guest.

Yours,
Tal

[2017-09-30 11:03] Alanocallaghan commented on #97
@jcardenas14 - my guess is simply that circles are more complex shapes than squares, this is backed up by the fact that `grid_gap` when used normally doesn't cause much of a penalty. In any case I think the advantage of points over squares rapidly diminishes with size so I don't see that being a major problem.

In terms of implementation, I think the only way to do this would be to add a `point_si

[2017-09-30 11:27] Alanocallaghan opened #106 "Spaces not supported in label_names when plot_method="ggplot""
heatmaply(mtcars, label_names = c("row names", "col names", "value name"))
Error in parse(text = x) : <text>:1:7: unexpected symbol
1: value name

[2017-09-30 11:28] Alanocallaghan commented on #106
Known (and infuriating) issue with ggplot2...
https://stackoverflow.com/questions/29133567/using-ggplot2-with-columns-that-have-spaces-in-their-names

[2017-09-30 11:32] Alanocallaghan commented on #106
Need to surround variables with backticks

[2017-09-30 11:45] Alanocallaghan commented on #97
I've had a go, I'm not 100% on the implementation still, but the result looks quite good and IMO would be quite useful - I may even use this personally next week for a project.

It would also be useful to be able to control the range of point sizes.

@jcardenas14 - what's your opinion on this implementation? I've pushed to the `scatter` branch again.

[code]

[2017-09-30 12:04] Alanocallaghan commented on #97
Unrelated, but I also added an argument to format the hover labels to this branch:

[code]

[2017-09-30 14:04] talgalili commented on #97
+1 to the `label_format_fun`

[2017-10-02 14:09] r-velde opened #107 "Cannot Reorder Heatmap Without Displaying Dendrogram"
I would like to cluster the rows without displaying the rows dendrogram.

Thanks

[2017-10-02 14:19] talgalili commented on #107
I'm wondering how this should be done. Should there be a special parameter to set this, or should this be based on one of the options passed to Rowv/Colv/dendrogram?
Once this is set, probably the easiest way to implement is to not pass the dendrogram to the subplot function but instead pass an empty object through.

@Alanocallaghan - what do you think?

Also, this issue can be related to #44 .

[2017-10-02 14:49] Alanocallaghan commented on #107
I think a different parameter makes most sense, to avoid "overloading" Rowv. Perhaps we should add a new `cluster` argument and deprecate `dendrogram` in order to make this clear.

ie,
`heatmaply(mtcars, cluster="both", show_row_dend=FALSE)`

[2017-10-02 18:09] talgalili commented on #107
mmm, I have two reservations regarding your suggestion:
1) I would prefer to keep backward compatibility with heatmap.2 (which can be done with you suggestion) and,
2) There are methods in seriation for ordering a matrix, that are "better" than using the order from the dendrogram. So if we know that we are omitting the dendrogram, we might as well expose these other methods, i.e.: #57 ).

I think

[2017-10-03 22:19] Alanocallaghan commented on #107
I don't have particularly strong feelings about this, so I'd go ahead with what you've suggested as it sounds reasonable.

Long term it would be good to try to break elements out into separate functions as currently there looks to be about 70 arguments, and this is only likely to grow. Perhaps we could make classes for dendrogram options, side color options, and main heatmap options (`heatmapr` al

[2017-10-07 09:16] talgalili opened #108 "Add ggheatmap"
Add a static ggplot2 version of heatmaply to answer this:

https://stackoverflow.com/a/38761461/256662

[2017-10-07 10:27] Alanocallaghan commented on #108
#95 was related; I posted an example of how one might accomplish this.

However, I don't know if it makes sense to try to produce ggplots as part of this package, as they require quite different handling to plotly objects. Moreover it would actually have to be using grid.arrange or the like, since we are combining multiple plots. I think it has the potential to add a lot of complexity if not handl

[2017-10-07 10:38] talgalili commented on #108
Hi @Alanocallaghan
I generally agree with everything you say. I don't find this feature to be especially urgent or important. However, I believe that the more compartmentalize we make the functions in the package, the easier it would later become to do. So for now I'm leaving this open (maybe we'll close it later, deciding it would never get in).

What I had in mind originally is that at some poin

[2017-10-07 10:57] Alanocallaghan commented on #108
Sounds good. In principle it's a nice feature, but if implemented before refactoring the existing code to be more modular it could end up being a total nightmare

[2017-10-13 14:55] Alanocallaghan commented on #76
plotly doesn't mind if you add extra variables to a trace

[2017-10-15 08:02] gsimchoni opened #109 "Allow duplicate rownames/colnames for plot_method ggplot"
[code]

Because "a" appears twice as a row name. There shouldn't be any reason why row/column names should be unique, and it *does* work with `plot_method = "plotly"`:

`> heatmaply(mat, dendrogram = FALSE, plot_method = "plotly")`

I think it should be fixed for `plot_method = "ggplot"` which is the default.

[code]

[2017-10-15 09:42] talgalili commented on #109
Hi @gsimchoni
I made a partial fix to this issue by using `make.unique` inside `ggplot_heatmap`.
I'm now sure how we want to deal with this longer term.
@Alanocallaghan - what do you think?

[2017-10-15 10:28] Alanocallaghan commented on #109
It's a difficult question. We could use a trick/hack, like using a sequence of numbers instead of rownames, and then map between these numbers and the original dimnames, but that would require pretty thorough tests as there's a good chance of scrambling the dimnames. Alternatively we could use whitespace instead of `make.unique`. The current fix should suffice until we figure out the best solution

[2017-10-15 13:26] talgalili commented on #109
ok, it sounds to me like we can close this for now, and re-open it if we see another use-case that would require more than the current solution.

[2017-10-15 13:26] #109 closed

[2017-10-16 09:09] Alanocallaghan commented on #109
I might re-open if I can devise a good solution that retains unique (or apparently unique) rownames while being robust to scrambling. Unlikely in the near future, though

[2017-10-23 23:11] talgalili opened #110 "Fix webshot in import"
Warning:
https://www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-fedora-gcc/heatmaply-00check.html

checking dependencies in R code ... NOTE
Namespace in Imports field not imported from: ‘webshot’
  All declared Imports should be used.

This is because plotly::export uses webshot but only added it as suggest and not as import. Not sure how to fix it (I could just add tmp <- webshot::something

[2017-10-24 08:53] Alanocallaghan commented on #110
So plotly needs `webshot` but doesn't require it on installation? I guess short-term you could import something trivial, and long-term ask Carson to add it to plotly's `Import` field.

[2017-10-26 13:43] gaiatek opened #111 "Allow the dendrogram to use scaled data"
Hello,

First I would like to thank you for this great package. However, I had a hard time trying to reproduce the clustering that I get with pheatmap when using scale="row". Even when setting seriate to "mean", both methods returned completely different column clusters using Euclidean distance and Complete clustering...

It seems that the clusters returned by heatmaply() are identical whether you

[2017-10-26 16:19] Alanocallaghan commented on #111
Hi JP, thanks for raising this. I agree that this is not expected behaviour, and while it would be a nice option to cluster based on non-scaled data while displaying scaled data, it certainly shouldn't be the default.

[2017-10-26 16:27] Alanocallaghan commented on #111
You can pull from the branch `scaling_order` to correct this for the time being; once @talgalili can confirm this isn't intended behaviour I'll merge to master. If it is intended behaviour I'll have to implement a different fix.

[2017-10-26 22:21] Gibbsdavidl opened #113 "showticklabels not working"
Hi there,
Just trying to hide my tick labels.

library(heatmaply)
heatmaply(iris, showticklabels = c(F,F), margins = c(80,10))

<<shows labels>>

Thanks!
-dave

[2017-10-27 00:02] Alanocallaghan commented on #113
What seems to be the problem? Works for me. Post your `sessionInfo()`

[2017-10-27 00:04] Gibbsdavidl commented on #113
Yes, of course.. :-) Thank you!

R version 3.3.2 (2016-10-31)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS Sierra 10.12.6

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] heatmaply_0.8.2   viridis_0.4.0     viridisLite_0.2.0 plot

[2017-10-27 02:05] talgalili commented on #113
You are using a very old version of heatmaply. Please update to 12.1 (it is now on CRAN).

Cheers
Tal

[2017-10-27 09:14] Alanocallaghan commented on #113
You may also want to update `plotly` which is I think 2 or 3 minor versions ahead of what you have

[2017-10-27 09:16] #111 closed

[2017-10-27 16:11] Gibbsdavidl commented on #113
Doh!  Well, that was an easy fix. Updating worked.  Thanks!

Here's how I used heatmaply: https://isb-cgc.shinyapps.io/Heatmaply_Gene_Set_Corr/

[2017-10-28 09:59] talgalili commented on #111
Hi @Alanocallaghan
That was indeed a bug - thanks for fixing it!

Tal

[2017-10-28 10:07] talgalili commented on #113
Dear @Gibbsdavidl
Glad it now works.
Your shiny app looks lovely!
Several suggestions:
1) You are welcome to look more into shinyHeatmaply, to see if you can use it as the basis for your shiny app (as it makes sure to work with more features from heatmaply). Please only make sure to give credit to the source.
2) You are generally welcomed to send pull requests for shinyHeatmaply. For example, we d

[2017-10-28 10:07] #113 closed

[2017-10-30 17:42] Gibbsdavidl commented on #113
Congrats on the paper!  I'll add that citation.  Thanks for all the work/advice/help!

[2017-10-31 11:30] Alanocallaghan commented on #113
Thanks David, good work on the Shiny app! Nice to see the package being put to good use

[2017-10-31 11:47] Cortalak opened #115 "Drawing custom grid (separation between the side_colors)"
Hello,

First off, thanks a lot for this wondeful package. It's perfect for visualising genomic expression data.

I wanted to know if there is any way in order to draw a custom grid line and more specifically, I would like to draw some separations between the col_side_colors and row_side_colors. I'm plotting some huge datas and I want to make the different groups clear.

Thanks in advance for any

[2017-10-31 12:06] Alanocallaghan commented on #115
Hi, thanks for the report. It may be worth trying the `subplot_margin` argument, though I can't confirm this does what you're describing. I'll have a closer look later today

[2017-10-31 13:28] Cortalak commented on #115
Thanks for the fast reply. In case it's not really clear, I added below one of the heatmap I produced. I didn't use the integrated sorting, I put a presorted matrix so that the individuals with the same sidecolor are together. What I want is to add grid to make a clear separation between these groups. It is something I was doing on heatmap.2 with the colsep and rowsep argument.

![rplot01](https:/

[2017-10-31 18:27] Alanocallaghan commented on #115
Perhaps use `geom_vline` and `geom_hline`? Note that the x- and y-coordinates are for the center of each square and so need to be offset by 0.5 to be at the edges.

For example:

heatmaply(mtcars, dendrogram="none",
    col_side_colors=data.frame(a=seq_len(ncol(mtcars))),
    heatmap_layers=c(
        lapply(seq_len(ncol(mtcars)), function(i) geom_vline(xintercept=i+0.5, color="red")),
        lap

[2017-11-02 10:09] Cortalak commented on #115
Wow, completely forgot about using `geom_vline` and `geom_hline`.
The use of `lapply` is very elegant also, didn't know it was possible.
Thank you very much it works absolutely fine.

[2017-11-02 10:09] #115 closed

[2017-11-02 10:52] Alanocallaghan commented on #115
Cheers! It's useful for adding a list of ggplot objects to a plot (something I have found very useful)

[2017-11-02 21:24] Alanocallaghan opened #116 "Implement heatmapgl option"
Seemingly new to plotly

[2017-11-03 14:31] Alanocallaghan commented on #116
- Doesn't work with dendrograms
- Doesn't look as expected:
![screenshot from 2017-11-03 14-30-02](https://user-images.githubusercontent.com/10779688/32378804-98226056-c0a3-11e7-9dc8-865a480adc65.png)

[2017-11-06 13:02] allonw opened #117 "Add simple way to use pearson/spearman distance between rows/cols"
Pearson/Spearman-based distances are widely used in functional genomic heatmaps. It would be useful to have them supported directly as in ComplexHeatmap package.

See for example the clustering_distance_rows argument of the Heatmap function:
http://bioconductor.org/packages/release/bioc/vignettes/ComplexHeatmap/inst/doc/s2.single_heatmap.html

Thanks Tal for this excellent contribution!

[2017-11-06 13:14] Alanocallaghan commented on #117
Do you mean using 1 - correlation as a distance function in hierarchical clustering?

[2017-11-06 13:16] Alanocallaghan commented on #117
Sorry I missed the point about clustering_distance_rows. I'll try to add this today, though it is already possible by specifying `distfun=function(x) as.dist(t(1 - cor(x)))`

[2017-11-06 13:25] allonw commented on #117
Yes, I'm aware that it's possible to obtain the same result in the way you suggested (this is how I use heatmaply now), but since it's such a common use-case in genomics I think it's nice to have that syntactic sugar.

thanks for adding the feature and thanks again for creating this quality package!

[2017-11-06 13:33] Alanocallaghan opened #118 "Duplication of arguments: dist_fun and dist_method (heatmapr)"

[2017-11-06 13:34] #118 closed

[2017-11-06 13:44] Alanocallaghan commented on #117
Hi @allonw, if you'd like to test this out you can use the branch I've started a [pull request](https://github.com/talgalili/heatmaply/pull/119) for. You just need to use `distfun="pearson"` (or "spearman" or "kendall").

I'll finish and document this properly later, and if you have other suggestions for distance functions now is a good time to put them forward ;)

[2017-11-06 13:51] allonw commented on #117
Thanks!

None that I can think of :)

[2017-11-06 15:52] #117 closed

[2017-11-08 15:13] talgalili opened #120 "heatmaply crashes when there are NA in the matrix"
As of 0.13.0, when inputting to heatmaply data with NA, it causes R to crash:

[code]

[2017-11-08 15:15] talgalili commented on #120
Hi @Alanocallaghan - I just noticed this new bug.
I see it also happens in version 0.12.1.
I'm not sure I'll get to debug this today. If you'll get to find/solve it before me - great. Otherwise, I'll probably get to it next week.

Thanks,
Tal

[2017-11-08 15:16] talgalili commented on #120
my sessionInfo()

[code]

[2017-11-08 15:20] talgalili commented on #120
mmm, update - the crash seems to occur in Rgui in general, not just for NAs - but NOT in RStudio. That is odd.

[2017-11-08 15:33] talgalili opened #121 "heatmaply crashes when run from Rgui (but not when used from within RStudio)"
I just noticed that running simple code in RGui such as:

[code]

Causes R to crash.

(I originally thought it was due to NA, but then realized it happens anyway
https://github.com/talgalili/heatmaply/issues/120
)

[2017-11-08 15:33] talgalili commented on #121
Hi @Alanocallaghan - I just noticed this new bug.
I see it also happens in version 0.12.1.
I'm not sure I'll get to debug this today. If you'll get to find/solve it before me - great. Otherwise, I'll probably get to it next week.

Thanks,
Tal

[2017-11-08 16:11] Alanocallaghan commented on #121
Sounds like just rewards for using RGui. I'll have a look later

[2017-11-08 16:12] talgalili commented on #121
:p

[2017-11-11 10:39] talgalili opened #122 "na.value doesn't work"
For example:

[code]

[2017-11-11 11:23] talgalili commented on #121
Update, it seems that using plot_method = "plotly" doesn't cause the crash, only the ggplot option:

[code]

[2017-11-11 11:54] talgalili commented on #121
Hi @Alanocallaghan Please see my recent patch. I found the location of the bug, and found a work-around to solve it. But I have no idea what is the reason this causes a crash (and it might be nice to know so to have a relevant issue opened for plotly).

What do you think?

[2017-11-11 12:37] talgalili commented on #121
Update, I think I located the issue in plotly and reported a bug:

https://github.com/ropensci/plotly/issues/1150

[2017-11-11 13:21] talgalili opened #123 "draw_cellnote = TRUE fails for matrix with NA"
[code]

[2017-11-11 13:26] #123 closed

[2017-11-11 20:33] realkrantz opened #124 "draw_cellnote=T prints "Aa trace 2" and dots"
### when `hide_colorbar = T` but only "Aa trace 2" when `hide_colorbar = F`

    D<-c("Pla", "Ond","Gra", "Dol","Tro", "Ond+Dex", "Pal","Ram", "Ond+Drop",  "Ond+Met", "Gra+Dex",  "Pal+Dex", "Dol+Dex", "Dol+Drop", "Gran+Drop")
    S1<- c(42.8, 54.6, 40.7, 81.5, 54.6, 83.3, NA, 35.3, NA, NA, 2.9, NA, NA, 54.2, NA)
    S2<-c(51.9, 64.9, 93.5, 27.7, 35.3, NA, NA, NA, NA, NA, NA, NA, 26.6, NA, NA)

[2017-11-13 04:27] realkrantz opened #125 "row_side_colors prints "row_side_colors""
##  on the x-axis even when showticklabels = F, as can be seen below:
D<-c("Pla", "Ond","Gra", "Dol","Tro", "Ond+Dex", "Pal","Ram", "Ond+Dro",  "Ond+Met", "Gra+Dex",  "Pal+Dex", "Dol+Dex", "Dol+Dro", "Gran+Dro")
S1<- c(42.8, 54.6, 40.7, 81.5, 54.6, 83.3, NA, 35.3, NA, NA, 2.9, NA, NA, 54.2, NA)
S2<-c(51.9, 64.9, 93.5, 27.7, 35.3, NA, NA, NA, NA, NA, NA, NA, 26.6, NA, NA)
S3<-c(0.8, 25.4, 44.8, 13.

[2017-11-13 09:59] talgalili commented on #125
This can be fixed if `row_side_colors` is provided with a data.frame with the column name you wish to have as the names of the side colors.

For example:
[code]

![image](https://user-images.githubusercontent.com/976006/32719723-081dd73c-c86a-11e7-9a55-6f42bd6515f7.png)

[2017-11-13 09:59] #125 closed

[2017-11-13 10:03] #121 closed

[2017-11-13 15:10] realkrantz opened #126 "row_side_colors creates grid-gaps"
even when `grid_gap=0`

    D<-c("Pla", "Ond","Gra", "Dol","Tro", "Ond+Dex", "Pal","Ram", "Ond+Dro", "Ond+Met", "Gra+Dex", "Pal+Dex", "Dol+Dex", "Dol+Dro", "Gran+Dro")
    S1<- c(42.8, 54.6, 40.7, 81.5, 54.6, 83.3, NA, 35.3, NA, NA, 2.9, NA, NA, 54.2, NA)
    S2<-c(51.9, 64.9, 93.5, 27.7, 35.3, NA, NA, NA, NA, NA, NA, NA, 26.6, NA, NA)
    S3<-c(0.8, 25.4, 44.8, 13.3, 23.2, 71.9, 54.9, 51.3, 65.4,

[2017-11-13 15:19] realkrantz commented on #125
Thanks, the solution works, but still, it is not possible to hide the column name using `<showticklabels = F>`, and column name " " gives this error *Error: attempt to use zero-length variable name*

[2017-11-13 15:36] Alanocallaghan commented on #125
`heatmaply(mydata, row_side_colors = data.frame(` ` = c(rep("A",5), rep("B",5), rep("C",5)), check.names=FALSE))`

[2017-11-13 15:40] Alanocallaghan commented on #124
Works fine for me, can you post your sessioninfo?

[2017-11-13 15:47] Alanocallaghan commented on #126
Unfortunately we can't fix that at the moment.

Duplicate of #53

[2017-11-13 15:47] #126 closed

[2017-11-13 15:52] realkrantz commented on #125
Thanks, @Alanocallaghan, this works. Issue solved!

[2017-11-13 16:05] realkrantz commented on #124
R version 3.4.2 (2017-09-28)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows >= 8 x64 (build 9200)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252  LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252 LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grDevices utils     datase

[2017-11-13 16:49] Alanocallaghan commented on #124
Thanks - I don't have access to a Windows PC at the moment but will try to check later

[2017-11-13 19:32] Alanocallaghan commented on #124
Could you test this branch and see if resolves your issue? You can install it as follows:

[code]

#127

[2017-11-13 20:25] realkrantz commented on #124
Issue solved! Thank you very much.

[2017-11-13 21:42] Alanocallaghan commented on #124
Thanks, just fyi I'm re-opening this issue until I've merged that to the master branch. You can unsubscribe from this thread if you'd like

[2017-11-13 21:53] realkrantz commented on #124
Understood!  Again, thanks for solving the issue.

[2017-11-20 20:57] Puriney opened #128 "Cannot save figure in Rscript mode"
Content of my rscript *heatmaply.Rscript*:
[code]
Run in terminal:
[code]

Error:
[code]

[2017-11-20 21:04] Alanocallaghan commented on #128
Have you tried installing pandoc as suggested?

[2017-11-20 21:04] Alanocallaghan commented on #128
Also are you certain this runs in interactive mode?

[2017-11-20 21:05] Puriney commented on #128
I turn to install `pandoc`. It exports html file, despite errors:
[code]

[2017-11-20 21:05] #128 closed

[2017-11-23 16:27] 14mdw opened #129 "Black box around heatmap"
Is there a way to create a black box around the heatmap, but not the grid system?

[2017-11-24 11:46] Alanocallaghan commented on #129
What do you mean by "grid system"?

[2017-11-24 13:57] 14mdw commented on #129
In heatmaply there is a function for "grid_color =", this colors the grid system within the heatmap. I want to color the outside of the heatmap (i.e., the square/rectangle box of the heatmap, not the inner grid system). Is that more clear? It is essentially the same aesthetic choice as creating a black frame around a scatterplot or any other graph.

Michael Wood | PhD Candidate | 14mdw@queensu.ca

[2017-11-24 14:15] Alanocallaghan commented on #129
Heatmaply returns objects of class plotly, and you can change the background colour using plotly's layout function, for an example see: https://stackoverflow.com/questions/37380299/how-to-set-plotly-chart-to-have-a-transparent-background-in-r/37380577

[2017-11-30 09:15] vandelj opened #131 "Personalized hoverinfo"
It seems that hoverinfo field cannot be personalized with any kind of text, looking at l162-178 in plots.R file.

Do you think it could be possible to add heatmaply parameter to specify as a character matrix personalized displayed text like cellnote field?

Thks
++
J.

[2017-11-30 09:19] Alanocallaghan commented on #131
It's possible, I'll look into it

[2017-11-30 17:35] myuen commented on #131
I'll be interest to see this feature implemented as well.

[2017-12-02 13:31] Alanocallaghan commented on #131
Hi @myuen & @vandelj, I've implemented this on a branch which should be merged too (see #132). When `plot_method = "plotly"`, the entire hovertext can be customised, while for `plot_method = "ggplot"`, the custom hovertext is simply appended to the existing hoverinfo.

Thanks for the report

[2017-12-04 11:09] vandelj commented on #131
I just test it, it seems to work as expected, thanks a lot for your reactivity !

[2017-12-06 21:15] myuen commented on #131
Awesome!

One thing to note is the bubble for the hoverinfo does not wrap text around and hence can grow overly wide for a long line of text.

[2017-12-07 07:19] Alanocallaghan commented on #131
You can style the hoverinfo using CSS if needed

[2017-12-14 17:12] handibles opened #134 "Passing dendrogram to Rowv / Colv fails to cluster row / col"
Hey Devs, thanks for all the hard work.

I'm plotting a subset of a correlation matrix, and rather than display the same correlation dendrogram in both axes I'd like one axis (can be either) to show phylogeny.

I've used raxml-ng to produce phylogenetic trees, and can convert these to dendrograms using ape:chronos and decipher:ReadDendrogram (there are also other ways).

I receive a 'dendrogram' c

[2017-12-14 17:42] Alanocallaghan commented on #134
Thanks for the issue. I can't reproduce this just yet, could you post some small example data and a reproducible example?

[2017-12-19 20:10] alanocallaghan opened #135 "Add tests for melt_df/ordering"
Need to ensure that ordering remains consistent using the different plot functions somehow

[2017-12-19 20:11] Alanocallaghan commented on #129
@14mdw - did this help?

[2017-12-19 20:12] Alanocallaghan commented on #134
@handibles - could you post some sample data?

[2017-12-19 22:23] #97 closed

[2017-12-19 22:23] #124 closed

[2017-12-19 22:23] #131 closed

[2017-12-23 00:17] stephenireland23 opened #136 "how can i plot a heatmap with a user input file"
so i want to make a shiny app where the user can input a csv file , and use heatmaply to plot a heatmap of the input data ? any idea how i could do this

[2017-12-23 01:03] Alanocallaghan commented on #136
Check out the package shinyheatmaply on cran

[2017-12-29 02:07] cweiming opened #137 "Legend texts overlay each other for col_side_colors"
Hi Devs,

The texts of cat. legend of "col_side_colors" overlay each other for dataset with only 2 categories.

[code]

![1](https://user-images.githubusercontent.com/28885986/34427688-ef6023fa-ec7f-11e7-8831-b25769c0a453.png)

But if the dataset having great than 2 categories, the legend of "col_side_colors" works perfectly. I googled, but couldn't find any solution. Would you mind if you could t

[2017-12-29 12:03] Alanocallaghan commented on #137
I'll fix this later, thanks for the report

[2018-01-02 05:44] cweiming commented on #137
Thank you very much!

[2018-01-02 10:08] Alanocallaghan commented on #137
This should be fixed now, thanks again for the report. Feel free to test, unless any issues come up I'll close this shortly

[2018-01-03 05:37] cweiming commented on #137
Hi Alanocallaghan,

Thanks for fixing this issue. Now, it works as well.

Thanks!

--
WM

[2018-01-03 12:18] Alanocallaghan commented on #137
Thanks!

[2018-01-03 12:18] #137 closed

[2018-01-10 08:28] cweiming opened #138 "How to arrange the order of column annotation?"
Hi Dev,

As title, is it possible to arrange the order of column annotation what i expect?
Thanks!
--
WM

[2018-01-10 09:40] Alanocallaghan commented on #138
Can you provide an reproducible example? If so I'll have a look this evening. Thanks!

[2018-01-10 10:26] cweiming commented on #138
Hi Alanocallaghan,

Here is an example as below:

[code]
![1](https://user-images.githubusercontent.com/28885986/34767466-1e704f0a-f633-11e7-9eb1-6863ff1d5a60.jpg)

I would like to make a column annotation A first and then B. Is it possible to do it?

Thanks!

--
WM

[2018-01-10 10:43] Alanocallaghan commented on #138
Thanks, I'll check later

[2018-01-10 14:27] handibles commented on #134
@Alanocallaghan, sorry for the delay! Attached MRE below as .RData file.

After coming back to this problem I've realised that there _was_ a slight text mismatch between tip labels in the dendrogram versus the correlation matrix I was trying to sort, so heatmaply presumably wasn't able to connect them. Once I fixed this, I could produce the desired re-ordering based on dendrogram (below).

However

[2018-01-10 14:27] #134 closed

[2018-01-10 19:39] Alanocallaghan commented on #138
Thanks for the report, I've implemented ordering via levels (see pull request above and example below). Once I've made sure this doesn't have any adverse effects I'll merge

[code]

[2018-01-11 02:52] cweiming commented on #138
Hi Alanocallaghan,

I got the same result from both codes, as show below:

[code]
![ba](https://user-images.githubusercontent.com/28885986/34806259-d93d3df0-f6bc-11e7-8efd-1b5537cebebc.jpg)

[code]
![ab](https://user-images.githubusercontent.com/28885986/34806248-ced3a110-f6bc-11e7-8932-70fd3d8bdeec.jpg)

Anything wrong? a few of packages information for you.
The heatmpaly version is 0.14.1
The pl

[2018-01-11 10:07] Alanocallaghan commented on #138
Did you install the branch in the pull request above first? ie, `devtools::install_github("talgalili/heatmaply", ref = "sidecolor_ordering")`

[2018-01-11 11:45] cweiming commented on #138
Hi Alanocallaghan,

Thanks for providing a nice solution. After re-installing heatmaply with ref = "sidecolor_ordering", it works as well.

Basically, I didn't know about this information, maybe you can put it the main page of heatmaply githup so that use can get this nice information before installing heatmaply.

Thanks!

--
WM

[2018-01-14 21:04] alanocallaghan opened #140 "Dendrogram label shows when plot_method = "ggplot""
https://stackoverflow.com/questions/48244816/controlling-the-shared-legend-when-adding-a-ggplot-dendrogram-plot-to-a-plotly-h/48254107#48254107

[2018-01-14 21:05] #138 closed

[2018-01-22 14:33] khughitt opened #141 "Allow for multiple color scales for row_side_colors and col_side_colors"
Currently, data plotted as side colors all share the same color scale. This becomes problematic when data on very different scales are plotted side-by-side, e.g. age and gender. In this case, the contrast between binary or logical variables becomes very poor.

A couple possible solutions would be to either:

1. Allow the user to provide alternative color scales (one per variable plotted), or,
2. U

[2018-01-22 14:36] #136 closed

[2018-01-22 14:42] Alanocallaghan commented on #140
And the row dend is not plotted last (bottom-right).

[2018-01-22 14:43] Alanocallaghan opened #142 "Hoverinfo does not show for heatmap under some conditions"
`heatmaply(mtcars, row_side_colors = mtcars[, 2, drop=FALSE], row_dend_left = TRUE)`

[2018-01-22 15:09] Alanocallaghan commented on #141
At the moment, you can manually supply a named vector of colours, and set these to be whatever you like for the different factors.

[code]

The support for numeric values in side colours is "not great" in that they are automatically converted to factors (as shown above). The colour palettes then map the unique values to the supplied colour palette.

In order to support numerics, I have to refactor

[2018-01-22 15:21] khughitt commented on #141
@Alanocallaghan Thanks for the quick response and suggestions!

It would certainly be great to have improved support for numeric fields, but if it would require a significant amount of effort, as seems to be the case, then I would consider this a low priority request (unless many other users ask for the same thing).

The issue also arises in cases with all logical/factor data, whenever there is a

[2018-01-22 15:25] Alanocallaghan commented on #141
It's certainly on the to-do list. The idea I have is rather than having a single "row_side" (or "col_side") plot, we can have an arbitrary number of them, all with independent colour mapping, legend positioning, etc. I want to get the design of that process right because it could be quite unpleasant if not done well.

Anyway I will keep this issue updated if I make any progress

[2018-01-22 18:15] JrTai opened #144 "Annotation Legends of col_side_colors disappear after applying clustering to both column and row"

[2018-01-22 18:49] Alanocallaghan commented on #144
Thanks, im busy for the next few days but will try to have a look after that

On 22 Jan 2018 6:23 pm, Jr-Han Tai <notifications@github.com> wrote:

The annotation legend generated by col_side_colors disappear after applying clustering to both column and row data.

Before applying clustering:

[before clustering]<https://user-images.githubusercontent.com/8951652/35236973-cd01e5d0-ff6e-11e7-8cb9-86f

[2018-01-22 18:50] jbholm opened #145 "side colors don't show unless zoomed"
Hi,

When I am producing an .html file for my heatmap, the column side colors do not show when the heatmap is at default zoom setting (zoomed all the way out). The colors then show only after I manually zoom in on a portion of the column color bar.

In the same way, if I produce a static .png file, the column side colors are not produced.

Any help is appreciated! Details below:

Package: heatmapl

[2018-01-22 18:52] JrTai commented on #144
Thanks a lot for your time! :)

[2018-01-22 19:46] Alanocallaghan commented on #145
I can't reproduce the error, could you post a screenshot?

[2018-01-22 19:48] Alanocallaghan commented on #144
For the time being, you can set `plot_method = "plotly"` in your call to heatmaply, which should show a colour legend for the side colours.

[2018-01-22 19:51] jbholm commented on #145
![zoomed_area](https://user-images.githubusercontent.com/17168205/35241175-a0e7f588-ff83-11e7-9752-195e9aacaea7.jpeg)
![chosen_area_to_zoom](https://user-images.githubusercontent.com/17168205/35241181-a454acac-ff83-11e7-8dd6-21a21500a972.jpeg)
![zoomed_out](https://user-images.githubusercontent.com/17168205/35241185-a6591754-ff83-11e7-82e4-29b1f8b0592a.jpeg)

[2018-01-22 20:21] Alanocallaghan commented on #145
What is the dimension of your matrix, ie `dim(svm_relabund_sort)`?

[2018-01-22 20:23] jbholm commented on #145
dim(svm_relabund_sort)
[1] 5369 1913

But I plot only columns 5:30 (note that I had to transpose the matrix for it to plot how I like it. So there are 30 rows and 5369 columns in the figures.

[2018-01-22 20:27] Alanocallaghan commented on #145
#53

[2018-01-22 20:32] Alanocallaghan commented on #145
The side colours are shown, but the gap between them prevents them being visible, since they are plotted so close. This is clear since hovertext still shows for some cells.

This is a known issue with ggplot2 and plotly. You can get around this by setting `plot_method = "plotly"` in the call to `heatmaply()`. This also greatly improves the speed of producing the plot and shouldn't have other major

[2018-01-22 20:33] Alanocallaghan commented on #145
If this solves your issue I will close this as it is essentially a duplicate of #53. Cheers

[2018-01-22 20:34] jbholm commented on #145
It worked!! Go ahead and close it down. and THANK YOU!

[2018-01-22 20:37] Alanocallaghan commented on #145
Cheers, glad to help

[2018-01-22 20:37] #145 closed

[2018-01-23 06:23] JrTai commented on #144
Hi Alanocallaghan,

Thanks a lot for the suggestion. I have tried setting `plot_method = "plotly"` in my heatmaply. It shows the annotation legend but seems some of the text is overlapped.

Before clustering (some text has little overlapped):
![before clustering plotly](https://user-images.githubusercontent.com/8951652/35260655-4b426204-ffd2-11e7-89b7-20728259c7ed.jpg)

After clustering to both co

[2018-01-23 10:02] Alanocallaghan commented on #144
How many unique values are in the column annotation?

[2018-01-23 15:26] JrTai commented on #144
For the last example above, I have 49 unique values are in the column annotation.

[2018-01-23 16:52] Alanocallaghan commented on #144
I can't replicate the problem, could you post an example?

[2018-01-24 23:24] JrTai commented on #144
I have tried this test code in Rstudio
[code]

The small viewer shows the annotation text overlapped (49 unique values are in the column annotation ):
![plotly_col49](https://user-images.githubusercontent.com/8951652/35362066-6485e094-0129-11e8-83af-1c6a9646aa82.jpg)

If I zoom the viewer to a bigger window, the annotation text shows better:
![plotly_col49_zoom](https://user-images.githubuserconte

[2018-01-25 00:14] Alanocallaghan commented on #144
Cheers, I understand where the issue is coming from now but I haven't figured out a fix just yet

[2018-01-26 10:24] azolling opened #146 "'enexprs' is not an exported object from 'namespace:rlang'"
in a clean session, this minimal code

library(heatmaply)
heatmaply(mtcars, k_row = 3, k_col = 2)

produces the following error:

Error: 'enexprs' is not an exported object from 'namespace:rlang'

R version 3.3.1 (2016-06-21)
Platform: x86_64-redhat-linux-gnu (64-bit)
Running under: Red Hat Enterprise Linux Server 7.3 (Maipo)

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C               LC_T

[2018-01-26 13:30] azolling commented on #146
I updated heatmaply, and reinstalled some packages, restart R session and it finally works for me (but I have no clue which step worked). However my colleagues still get errors that I cannot reproduce:

Error in grid.Call(L_convert, x, as.integer(whatfrom), as.integer(whatto),  : 
  VECTOR_ELT() can only be applied to a 'list', not a 'NULL'

restart R session

Error in grid.Call(L_convert, x, as.i

[2018-01-26 13:34] talgalili commented on #146
Hi @azolling
Is your college running heatmaply in Rgui or RStudio? (in Linux, or another OS?)
In general, we know that heatmaply on CRAN works with ggplot2 and plotly in CRAN. When installing them from github, sometimes they stop working for a bit until it is solved.

[2018-01-26 13:53] Alanocallaghan commented on #146
This error:
[code]
Looks like a file permissions issue. The other issue is almost certainly unrelated to heatmaply.

[2018-01-26 14:00] azolling commented on #146
Hi @talgalili,
my colleague is running heatmapply in Rstudio, linux. I installed for her the CRAN version and then the github version and got the same errors.

@Alanocallaghan looks like a file permission issue but in a clean R session the only command entered are
library(heatmaply)
heatmaply(mtcars)
no files called here ?!

[2018-01-26 14:16] Alanocallaghan commented on #146
I think that `plotly` creates temporary files (like `Rplot001.jpeg`) when `ggplotly` is used, I believe. I would suggest allowing write permission in the current directory. This only allows file creation and not necesarily editing, so should be safe.
ie:
`chmod 775 .`

[2018-01-27 00:15] dockstreet opened #147 "data.frame with two columns - heatmap/treemap no dendrogram?"
Hi -
Is there a way to use create a interactive heat map without a dendrogram without columns in shiny?

I know this is a basic question, but I've been struggling to figure out a way to do it. Any suggestions to how the data frame like the below could be loaded into heatmaply and put into shiny tor navigatable heatmap/treemap

atok <- data.frame(
  desc = c(
    'a',
    'b',
    'c',
    'd',

[2018-01-27 01:07] dockstreet opened #148 "labels in heatmaply"
Is there a way to include a label instead of the hover over in the heatmap? I'm looking for something like treemapify labels but with heatmaply

[2018-01-27 09:06] restinplace opened #149 "customize hover text for heatmaply ?"
I'm trying to get a heatmaply version of the below, where a same-size matrix contains the hover strings.
No need to write in the cells a la cellnote (which I would have thought would handle the hover:
  "cellnote  Mouseover values for the data ... "
Thanks in advance (or apology in advance if I'm just confused)

library(plotly)
set.seed(1)
mat <- matrix(rnorm(50*10),nrow=50,ncol=10,dimnames=list(p

[2018-01-27 11:15] Alanocallaghan commented on #149
Hi,

Ensure heatmaply is up to date:
`devtools::install_github("talgalili/heatmaply")`
Then see the argument `custom_hovertext`:

[code]

Thanks for pointing out the inaccuracy of the documentation for the `cellnote` argument! I think that's just a legacy issue.

[2018-01-27 11:15] #149 closed

[2018-01-27 11:17] Alanocallaghan commented on #148
See the argument `custom_hovertext`, it seems like it might handle what you're looking for.

[2018-01-27 11:35] restinplace commented on #149
Thanks!  my heatmaply was up to date, but my docs were oh, so 2017!

[2018-01-29 19:42] talgalili opened #150 "NO hover text when using mouseover (in plotmethod="ggplot")"
I know see that simply running:

[code]
Returns a heatmap where hover text doesn't work. (for v 0.14.0)

![image](https://user-images.githubusercontent.com/976006/35553141-4ba9e3ac-059f-11e8-9270-f7e793fc7f39.png)

Also this happens when using cellnote  (p.s.: it might be a good opportunity to also update cellnote definition in the docs):

[code]

![image](https://user-images.githubusercontent.com

[2018-01-29 19:44] talgalili opened #151 "Using a data.frame in `custom_hovertext` looks odd (outputs many numbers)"
Example:

[code]

![image](https://user-images.githubusercontent.com/976006/35530708-8862dcca-053d-11e8-91d2-5a9504d0c48e.png)

[2018-01-29 19:50] #151 closed

[2018-01-29 21:33] Alanocallaghan commented on #150
Yep - I'll make an issue since it was noted elsewhere. Will do both tomorrow if I have time

[2018-01-29 21:34] Alanocallaghan opened #152 "Cellnote documentation is misleading"

[2018-01-29 21:35] Alanocallaghan commented on #150
Actually I think this is a dupe - see #76

[2018-01-30 07:23] talgalili commented on #150
I know see that simply running:

[code]

Returns a heatmap where hover text doesn't work. (for v 0.14.0)

I guess this was introduced by some of the recent revisions. If you can get to fix it soon, I'll make sure to upload it to CRAN, as this is a major bug.

[2018-01-30 07:27] #142 closed

[2018-01-30 17:16] Alanocallaghan commented on #150
I noticed this recently (#142), forgot to investigate further I'm afraid. Looking into it now

[2018-01-30 17:45] #150 closed

[2018-01-30 17:45] #152 closed

[2018-01-30 17:46] Alanocallaghan commented on #147
Try this:
[code]

[2018-01-31 12:42] azolling commented on #146
What finally worked was to install the dev version of rlang from github...

[2018-01-31 13:11] #146 closed

[2018-01-31 13:11] Alanocallaghan commented on #146
Thanks! Feel free to open another issue if you come across any other problems

[2018-02-01 18:39] talgalili commented on #150
Thanks for solving it Alan, uploading it to CRAN now.

[2018-02-02 17:23] JrTai opened #153 "Get the row and column order after clustering to both"
Hello,

Just wondering if there's output function to get the row and column order after clustering from the original data?

Or even better, if there's output function to get the reordered data after clustering?

Many thanks!!

Best wishes,
Tai

[2018-02-02 18:11] talgalili commented on #153
Hi @JrTai , currently this is not supported.
Could you say a few words as to why this would be useful to you?

[2018-02-02 18:31] JrTai commented on #153
Hi talgalili,

I am trying to plot two heatmaps side by side, where the row position of the 2nd (unclustered) one can be aligned to the 1st one (clustered) as a comparison.

If I can get the output data after clustering, then the position of rows can be used to reorder the 2nd heatmap.

[2018-02-02 18:51] talgalili commented on #153
Thanks for exaplining @JrTai
One way of doing it is to create the row dendrogram first on your own (use hclust + as.dendrogram + see [dendextend](https://cran.r-project.org/web/packages/dendextend/vignettes/introduction.html) for details, specifically use dendextend::seriate_dendrogram you can also use color_branches). Once the dendrogram is ready, you can get the order it uses with `order.dendrog

[2018-02-03 19:04] JrTai commented on #153
Hi talgalili,

Thanks for the suggestion. It is quite helpful to get the order of row.

I have tried to use hclust + as.dendrogram + order.dendrogram to set the order of the row comparing to use heatmaply for clustering directly, but it seems it is not aligned with the same data frame. I am wondering if I have set some arguments wrong.

I have a data frame (df) which uses two ways of clustering as

[2018-02-03 21:23] JrTai commented on #153
Hi talgalili,

I have figured out the problem. I should use seriate_dendrogram to get the order correct. The working code is as follow for reference.

1st clustering with heatmaply:
`heatmaply(mtcars, dist_method = "euclidean", hclust_method ="complete", dendrogram = "row")`

2nd clustering with hclust + as.dendrogram + order.dendrogram to set the order:
`dend <- as.dendrogram(hclust(dist(mtcars,

[2018-02-03 21:26] Alanocallaghan commented on #153
Hi JrTai,

Internally, heatmaply uses the function `dendextend::seriate_dendrogram` to re-order the dendrogram to have optimal leaf ordering. I think Tal alluded to this in a previous comment. See the example below:

[code]

In this case, the ordering should be identical.

[2018-02-03 21:27] Alanocallaghan commented on #153
Sorry, I didn't see your comment before posting! Thanks

[2018-02-03 21:34] JrTai commented on #153
Hi Alanocallaghan,

Thanks a lot for posting the example code! : )

Best wishes,
Tai

[2018-02-16 08:16] talgalili opened #155 "Deal with duplicate row/col names more elegantly"
https://stackoverflow.com/questions/48812431/error-in-heatmaply-package-in-r

For example, checking all values are unique, and if not make them unique and add a warning.

[2018-02-16 08:19] Alanocallaghan commented on #155
Arguably dendextend or even seriation should handle this

[2018-02-16 10:40] talgalili commented on #155
Since seriate deals with using both a dendrogram and a distance matrix, it would be simpler to deal with upfront by solving the problem in the rownames/colnames call in heatmapr. I've made a solution and pushed it. This would not work in case a user supplies their own dendrograms via Rowv/Colv (but I'd like to think that this would be more of a rare case than users with odd data input with duplica

[2018-02-16 10:42] #155 closed

[2018-02-16 10:43] talgalili commented on #155
A code that now will work:

[code]

[2018-02-16 14:22] geboro opened #156 "Fixed limits for color scale"
I cannot find a way to set hard limits for the coloring, i.e. everything above 50% is red, 20% > X > 50% is green, X < 19.99% is blue.
I'm not sure if maybe there is a solution for this, any ideas?
Thanks.

[2018-02-16 14:33] talgalili commented on #156
I don't think there is an automated way to do it. What you could do is replace the value with the buckets you want to use, and then use the color arguments to pass the colors for each bucket.

[2018-02-19 04:18] SynBioTek commented on #86
@Alanocallaghan using the layout option to specify the height and width works, but the margins=c(l,r,t,b) respond differently or not at all. Why do you think that is?

[2018-02-19 20:22] Alanocallaghan commented on #86
Can you post an example?

[2018-02-21 11:46] TriLe965 opened #157 "Rowv/Colv and dendrogram"
I don't know if misunderstand the meaning of `Rowv/Colv` and `dendrogram`. I think there is something wrong.
[code]
I had no warning or anything wrong when running these lines. And this is the result

p1 - There is nothing wrong with it.
![image](https://user-images.githubusercontent.com/11041356/36478240-04cc6372-173f-11e8-8159-879059ef569e.png)
p2 - Shouldn't the column's order be the same as p3

[2018-02-25 11:07] jasperDD opened #158 "selection the classes of observations using heatmaply in R"
The simple example

    library(heatmaply)
    heatmaply(mtcars, k_col = 2, k_row = 3) %>% layout(margin = list(l = 130, b = 40))
and we get this plot
[![plot][1]][1]
https://i.stack.imgur.com/hSRyk.jpg
We see that the observations were divided on 3 clusters

    1 from honda civic to ferrari dino
    2 from valiant to dodge challendger
    3 from chrysler imperial to maserati bora

Also we see th

[2018-02-25 20:08] Alanocallaghan commented on #158
Hi. thanks for the report. The package author Tal will likely be able to explain this properly, but very quickly, you could review the lines that deal with `k_col` and `k_row` ([here](https://github.com/talgalili/heatmaply/blob/master/R/heatmapr.R#L444)) and notice that it calls [`dendextend::color_branches`](https://www.rdocumentation.org/packages/dendextend/versions/1.6.0/topics/color_branches).

[2018-02-26 12:19] jasperDD commented on #158
Thank you:) can you show me
i did so
library("pvclust")
Result<-pvclust(mtcars, method.hclust="average", method.dist="cor", quiet=TRUE)
heatmaply(mtcars, Colv = Result)
and there is no result=(

[2018-02-26 12:53] Alanocallaghan commented on #158
That is because the result of `pvclust(...)` is of class `pvclust`, which is not supported. However this `pvclust` object contains a `hclust` object, which is supported. Try this:

[code]

[2018-02-26 13:09] jasperDD commented on #158
thank you, very well , but can save  the observation affiliation to the cluster in pvclust?

[2018-02-26 13:35] Alanocallaghan commented on #158
I don't quite understand, could you be more specific?

[2018-02-26 14:07] jasperDD commented on #158
for example, in the spss program, you can keep the observation belonging to the cluster. How to do it in pvclust?
like in this screen
https://imgur.com/a/7Bcv4

in this code
Result<-pvclust(mtcars, method.hclust="average", method.dist="cor", quiet=TRUE)
heatmaply(mtcars, k_col = 2, k_row = 3, Colv = Result$hclust)
i need to know I'm interested in how the observations on three clusters were distrib

[2018-02-26 14:14] Alanocallaghan commented on #158
I see. I'm afraid I'm busy right now (and I was last night, hence the quick reply) but I'll try to post some example code later today. Thanks.

[2018-02-26 14:19] jasperDD commented on #158
The biggest thank you

[2018-02-26 20:52] Alanocallaghan commented on #158
Seems like something we could think about. We could add more functionality to the `heatmapr` class, along those lines

[2018-02-27 18:11] jasperDD commented on #158
Thank you dear Friends. You helped me:)

[2018-02-28 11:46] jasperDD opened #159 "Error in match(x, table, nomatch = 0L) in R"
i have new dataset
reproducible data
structure(list(x1 = c(0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L,
0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L), x2 = c(0L, 0L, 0L, 0L, 0L,
0L, 0L, 1L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L), x3 = c(0L,
0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 1L, 0L, 0L, 0L, 0L, 0L, 0L,
0L, 0L), x4 = c(0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L, 0L,
1L, 1L, 0L, 1L, 0L, 1L, 1L), x5 = c(0L, 0

[2018-02-28 13:50] Alanocallaghan commented on #159
The error only occurs for me only if using the full data, and my error is slightly different as I'm running on Linux: `Error: C stack usage  7971028 is too close to the limit`

[2018-02-28 13:50] Alanocallaghan commented on #159
The error happens specifically with colour_branches:
[code]

[2018-02-28 14:07] Alanocallaghan commented on #159
There's no immediate solution @jasperDD. You might want to avoid using `k_row` or splitting your data.

btw, for high dimensionality matrices, I recommend setting `plot_method = "plotly"`. This will lead to much more responsive heatmaps!

[2018-02-28 14:29] jasperDD commented on #159
thank you, we'll wait @talgalili's answer. Maybe you can write iterative alternative
i used plot_method = "plotly", but the same error
heatmaply(mydat, plot_method = "plotly") %>% layout(margin = list(l = 130, b = 40))
Error in match(x, table, nomatch = 0L) : node stack overflow
Error during wrapup: node stack overflow

[2018-02-28 15:06] jasperDD commented on #159
What's wrong with "ploty"?

[2018-02-28 15:18] Alanocallaghan commented on #159
Yep, to be clear the problem is in working with dendrograms of that size, which is why the error still occurs when `plot_method = "plotly"`. Any solution to that will take a long while to come up with (weeks at least). For now I would look into the solutions I mentioned

[2018-03-01 03:06] chloelulu opened #160 "some questions on heatmaply"
Hi,

May I know how to set the axis label italic? How to set the font family of axis? And how to set the clustering dendrogram leaf height in heatmaply?

Thanks so much.

[2018-03-03 12:20] jasperDD opened #161 "separate cluster analyzes using heatmaply library in R"
This topic is indirectly linked to this library, but nevertheless.
I have dataset to perform cluster analisys (I simultaneously use 2 types of cluster analysis, cause it is so necessary!)

    mydat

    structure(list(city = structure(c(2L, 2L, 2L, 2L, 2L, 2L, 2L,
    2L, 2L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L), .Label = c("New-York",
    "Washington"), class = "factor"), x1 = c(0L, 0L, 0L, 0

[2018-03-03 14:30] jasperDD commented on #161
is anybody knows how perform my task?

[2018-03-03 18:52] talgalili commented on #161
Hi @jasperDD
IF this is not a feature request or a bug report, please post this question on stackoverflow.com and tag it with r and heatmaply.
Thanks :)

(@Alanocallaghan - maybe we should edit the template of posting a question here about this. Either you or I will get to it first)

[2018-03-03 18:52] #161 closed

[2018-03-03 19:54] jasperDD commented on #161
i forgot, i posted it on stackoverflow
https://stackoverflow.com/questions/49069310/separate-cluster-analyzes-in-r
@Alanocallaghan , can you help me?

[2018-03-05 11:42] Alanocallaghan commented on #160
Hi, sorry at the moment you cannot easily change the font style or family, though I could expose that functionality in the coming days.

Regarding clustering, I'm not sure if I follow. Could you post an example of what you want to achieve?

[2018-03-05 14:04] jamesdalg opened #162 "Way to highlight certain regions of the heatmap?"
I've found that certain regions of my heatmap are important, is there a way to plot on top of the heatmap, much in the way that juicebox can?  I've got everything else working, but there are certain sections where it's important to display where certain key regions of a heatmap are. Is there a way to manually add these? I realize that heatmaply writes to an HTML file, so it seems tricky.
![image](

[2018-03-05 14:20] Alanocallaghan commented on #162
I don't believe so - however, you could annotate these regions in the row/column annotation (col/row_side_colours)

[2018-03-05 15:19] jamesdalg commented on #162
heatmap_layers ggplot object (eg, theme_bw()) to be added to the heatmap before conversion to
a plotly object. Maybe this could work as well. I'll give it a go.

[2018-03-05 15:25] Alanocallaghan commented on #162
Good call, sorry I forgot that argument. Yes, passing a geom in that may work, if you get the mapping right. By the way, if you want to pass in multiple objects/layers/themes, pass them in a list.

[2018-03-15 19:50] jamesdalg opened #163 "Custom hovertext gets in the way of the plot features. Is there a way to work around this?"
Question-- the custom hovertext box is a black box that covers parts of the plot. Is there a way to make the hovertext go to side or bottom of the plot somewhere so that it doesn't obscure the actual area of the plot when trying to explore it?

[2018-03-15 20:00] Alanocallaghan commented on #163
I don't think so - it's just the standard plotly hovertext. I haven't seen any examples of customised hovertext boxes using plotly.js. It might be worth asking in the [plotly community forums](https://community.plot.ly) or the [plotly github](https://github.com/plotly/plotly.js/) with a reproducible example, the devs are quite responsive there.

[2018-03-15 20:01] jamesdalg commented on #163
I think this may work:

function (x, limits = range(x), colors = viridis(n = 256, alpha = 1,
    begin = 0, end = 1, option = "viridis"), row_text_angle = 0,
    column_text_angle = 45, grid.color, grid.size, row_dend_left = FALSE,
    fontsize_row = 10, fontsize_col = 10, key_title = "", colorbar_xanchor = "left",
    colorbar_yanchor = "bottom", label_names = NULL, colorbar_xpos = 1.1,
    color

[2018-03-16 16:25] #162 closed

[2018-03-16 17:14] jamesdalg commented on #156
I have also found this particular issue and this is really important to those I display data to (that the negative values are a certain color  and the positive numbers are another). How would one force this to happen with buckets? Is this possible?

[2018-03-16 17:38] Alanocallaghan commented on #156
Something like this?

[code]

[2018-03-16 17:41] Alanocallaghan commented on #156
You could also just use the normal matrix values, and set up `scale_fill_gradientn` to colour values based on which bucket they fall into, though that would require a bit more work. I would vote to close this as I think it can already be accomplished using existing functionality

[2018-03-16 17:42] Alanocallaghan commented on #162
Cheers @jamesdalg

[2018-03-16 17:55] jamesdalg commented on #156
If you could, can you post a version of that on a continuous scale? The information of how dark something is also really important in conveying meaning and would be expected in the package.  This is very similar to issue #1 and many users are still needing a bit of either clear documentation or a easy function to control this.

[2018-03-16 18:17] jamesdalg commented on #156
+           scale_fill_gradient_fun = scale_fill_gradient2(low="blue",high="red",midpoint=0,limits=c(-1,1))
+ )
![image](https://user-images.githubusercontent.com/26911077/37537698-c031c6c4-2924-11e8-80df-3e38fcd09080.png)

[2018-03-16 18:17] jamesdalg commented on #156
I think that solves the issue.

[2018-03-16 18:26] Alanocallaghan commented on #156
It looks as though the color scheme may be broken in that instance - it seems to be going through grey rather than white, which indicates that the color scale maybe be defaulting to a plotly default scale

[2018-03-16 19:39] talgalili commented on #162
@jamesdalg would you mind writing a small self contained example? I'd be happy to add it to the examples of the function.

[2018-03-19 21:55] fbreitwieser opened #164 "Viridis error with CRAN version of heatmaply / viridis"
[code]

[2018-03-19 22:08] Alanocallaghan commented on #164
We don't import `cividis`, could you post your `sessionInfo()`? Also, might be worth trying to install a new version of `viridisLite` and/or `viridis`

[2018-03-20 09:06] Alanocallaghan commented on #156
You might want to look into the function `label_format_fun` - it would allow you to round the values or format them in scientific notation, etc

[2018-03-20 13:24] jamesdalg commented on #163
It turns out to be more difficult than I had supposed. There are code examples of semi-transparent tooltips on the plotly site, written in R, so it can work, but I'm still working on it. I posted on the plotly forums.

[2018-03-20 19:20] jamesdalg opened #165 "Documentation: How to save the heatmaply object with webshot, as per documentation?"
In the heatmaply function, there is a paragraph stating that there is some way to save the heatmaply object with webshot. How does one do that?
"file
name of the file(s) into which to save the heatmaply output. Should be a character vector of strings ending with ".html" for a dynamic output, or ".png", ".jpeg", ".pdf" for a static output.
For example: heatmaply(x, file = "heatmaply_plot.html") or

[2018-03-20 19:54] talgalili commented on #165
I think there should be an example either in the vignette or the example of
heatmaply.
Please look around and I'll have a look in a few days if you will write u
didn't find it.

On Tue, Mar 20, 2018, 21:20 jamesdalg <notifications@github.com> wrote:

[2018-03-20 20:31] Alanocallaghan commented on #165
That is an example of how to save the plot using `webshot`.

`heatmaply(x, file = "heatmaply_plot.png")`

[2018-03-20 20:32] #165 closed

[2018-03-22 19:55] talgalili commented on #165
You could use plotly::export and then the parameters are passed to webshot. I will now clarify this in the doc, thanks.

[2018-03-22 21:28] jamesdalg commented on #165
Thanks for the explanation. I'm trying to use the widget along with images and that would definitely help.

[2018-03-26 16:23] chloelulu commented on #160
Hi, @Alanocallaghan ,
Thanks for your reply.
![image](https://user-images.githubusercontent.com/28763565/37918840-35d3d700-30f0-11e8-9718-0a39f7162728.png)
1. I want to set a row_side_colors legend to indicate which color represent which.
2. I want to set the row names italic.
3. How to rename the row_side_colors? Now it is default row_side_colors.
4. How to set the legend text size?

Thanks a lot

[2018-03-26 16:42] Alanocallaghan commented on #160
Hi, you didn't provide any example code so I'm using a toy example.

This is more or less what you've posted:
[code]

There are a few problems here, mostly that the legend shows for unwanted things (the colours in the column dendrogram). If you set `plot_method="plotly"` then the legends are created a bit more smartly. I don't know how exactly the plotly R library handles traces and legends, but I

[2018-03-26 17:03] chloelulu commented on #160
Hi, @Alanocallaghan ,

Thanks so much for the quick response. Amazing tutorial! The figure is as below now.
But the phylum name is still 'Row Rotation'. Can I rename it? And may I know now the heatmaply still can not change the font family? Again, thanks so much.
Enclosed is my code.
[code]

![image](https://user-images.githubusercontent.com/28763565/37920589-4a042fb8-30f5-11e8-9a10-0453c4eab873.p

[2018-03-26 21:04] Alanocallaghan commented on #160
Yep - I realise that legend title is a bit vague, but it's mostly dealing with the case where there is more than one column or row of annotation, since unfortunately it's not possible to have multiple legends for a single plot yet. I've made an edit (#166) which will make the title equal to the column title in the instance where there is only one column.

So with that change made, we can then chan

[2018-03-26 21:41] lida-R opened #167 "I would like to change color of heatmap plot in heatmaply using dropdown menu in R"
I would like to change color of heatmap plot in heatmaply using dropdown menu in R.
I wrote below code but doesn't work properly. Thank you for your help in advance.

         df<-
         structure(c(5.91907, 3.05747, 5.73896, 5.30454, 4.74619, 6.60657,
         5.81497, -12.425, 1.93861, 5.16512, 5.93555, 2.78618, 5.67026,
         5.2143, 4.76254, 6.61845, 5.88446, -12.425, 1.80812, 5.21011,

[2018-03-26 22:46] chloelulu commented on #160
Hi, @Alanocallaghan ,

Millions of thanks! So many amazing answers! If Stackflow also works! I will do that on Stackflow!
Again, thanks so much!

[2018-03-26 22:50] Alanocallaghan commented on #167
I had a previous attempt at something similar before and Carson, the plotly R maintainer, explained that the binding between colour and values happens within R, so this type of thing isn't easily possible. I'll give it a look tomorrow, though.

[2018-03-26 22:51] Alanocallaghan commented on #160
Glad to help, cheers

[2018-03-28 08:33] Alanocallaghan commented on #167
Yep, I think this is not possible; plotly color scales can't be adjusted using a dropdown menu (at least, not easily). For example, you can see that the color scale is generated with R by examining the plotly object produced by heatmaply:

[code]

[2018-03-28 08:33] Alanocallaghan commented on #167
It might be worth raising this question over at the plotly github page, but unfortunately there's nothing we can do to implement this.

[2018-03-28 08:33] #167 closed

[2018-03-28 08:34] #158 closed

[2018-03-28 08:35] #153 closed

[2018-03-31 19:31] tomsing1 commented on #86
It seems like the use of the `plotly::layout` function to set `width` and `height` parameters is being deprecated in plotly. For example, the following example leads to the warning shown below:

[code]
causes

[code]

[code]

[2018-04-03 00:36] tpbilton opened #168 "Row and Col labels not reordered if hover information is supplied for plotly"
I was trying to reproduce a plot from heatmap using heatmaply and was finding some issues.

A minimum working example is below

[code]

You will note above that when I supplied some hover information in the second plot (because I wanted to specify the species) that the labeling is wrong compared to the first plot. Basically, the order of the hover information is not reordered to reflect the permut

[2018-04-03 09:50] Alanocallaghan commented on #168
You supplied row and column names, not hover info. However I'll fix the rownames issue

[2018-04-03 12:40] Alanocallaghan commented on #86
Hi @tomsing1, yep I think this was still the case last year (at least I noted a deprecation message above). Unfortunately I don't think one can easily specify the size of `subplot`ed figures.

[2018-04-04 19:57] bblum9 opened #170 "Feature request: search and zoom based on row annotation"
Search for a gene name and zoom in to see the corresponding cluster. Would be helpful for exploratory analysis.

Thanks!

[2018-04-04 21:15] Alanocallaghan commented on #170
I think this would have to be in the form of a shiny app (see [here](https://plot.ly/r/shinyapp-plotly-events/) for examples); could you post some example data? I can't guarantee I'll be able to do much but I could have a look.

[2018-04-04 22:29] bblum9 commented on #170
What I mean is take any of the examples on the link below where the rows are so short the text for the row annotation is eligible: https://cran.rstudio.com/web/packages/heatmaply/vignettes/heatmaply.html

What I want is a text box where I can enter a row name and zoom to that area of the heatmap so they row annotation text is legible and doesn't overlap.

[2018-04-08 21:43] chloelulu commented on #160
Hi, @Alanocallaghan ,

Sorry to follow up a question on the former plot I created.
Based on the code you provided, the side row fro annotation was random plotted, such as the first family name is not accordingly with the side row color, which is the phylum. When I run the code everytime, I found the phylum name changed.  May I know how to deal with this? Thanks a lot.

Attached is my code
`heatmap

[2018-04-08 23:55] chloelulu commented on #160
Hi, @Alanocallaghan ,

Thanks for your quick reply. I have tried that, but still the same random annotation result. >^<

[2018-04-09 14:09] chloelulu commented on #160
Hi, @Alanocallaghan ,

Yes, I think the problem for me was that I did not set the unique for row names. Now it worked well. Thanks for the help always. >o<

[2018-04-09 14:12] Alanocallaghan commented on #160
You're welcome. I would point out that the error did not come from row.names, but from
[code]

Which should have read
[code]

Anyway if this is all I'm going to close this issue now. Cheers

[2018-04-09 14:12] #160 closed

[2018-04-13 13:20] seanlally opened #171 "hide_colobar and hide colored icons"
I had a quick question about your heatmaply library. There is a
scenario where we wish to have no legend/colorbar show at all but when
we use hide_colorbar option, it produces colorful dots over the numbers
displayed in each cell. Is there a way to remove the colorbar and the
dots that appear? Reading through the documentation of the heatmaply
library, nothing jumped out at us as a solution.

[2018-04-13 13:39] Shmeallum commented on #171
Something like `  p1 <- heatmaply(singletrimpct,colors = colors, limits = c(0, 100), dendrogram = "none", grid_gap = 1, draw_cellnote = TRUE,
                  cellnote_textposition = "middle center", srtCol = 0, main = "Dashboard Summary", hide_colorbar = TRUE)`

produces an output that looks like this

![heatmap_symbols](https://user-images.githubusercontent.com/6708671/38737784-e9f371a6-3ef5-11

[2018-04-13 16:57] Alanocallaghan commented on #171
I can't reproduce that figure - it actually errors when I try to include cellnote at all, which is much worse.

Could you post `sessionInfo()`? I'll try to solve. Thanks.

[2018-04-13 17:06] seanlally commented on #171
`  p1 <- heatmaply(singletrimpct,colors = colorRampPalette(c("#ff2015", "#ff6961", "#FDFD55", "#3ace3a"))(100), limits = c(0, 100), dendrogram = "none", grid_gap = 1, draw_cellnote = TRUE,
                  cellnote_textposition = "middle center", srtCol = 0, main = "Dashboard Summary", hide_colorbar = TRUE)`  does this work any better? colors was another variable for us that i forgot to translate

[2018-04-13 17:08] seanlally commented on #171
[code]

[2018-04-13 17:09] seanlally commented on #171
[code]

[2018-04-13 17:42] Alanocallaghan commented on #171
That should be fine, thanks

[2018-04-13 20:26] Alanocallaghan commented on #171
Hi @seanlally - if you try this branch https://github.com/talgalili/heatmaply/pull/172, I've pushed a fix. Not sure if it's permanent as I'm not sure why the issue is arising, so I won't merge to master yet (eg, `devtools::install_github("talgalili/heatmaply", ref="marker_cellnote")`

[2018-04-13 20:45] seanlally commented on #171
Will try out first thing Monday. Thank you.

[2018-04-13 20:47] Alanocallaghan commented on #171
Cheers. I suspect it's an issue with plotly (maybe the R library) but that branch is a quick fix.

[2018-04-16 14:42] seanlally commented on #171
@Alanocallaghan We are trying to use your fix, but the icons still show up. We don't know if its an issue with the fix or, more likely, an issue with use having to switch to using packrat at the same time as using this fix. We did the `devtools::install_github("talgalili/heatmaply", ref="marker_cellnote")` and packrat appears to be using the correct package. The hard part to tell is whether its pi

[2018-04-16 20:14] ashraf123456789 opened #173 "Changing file size limit"
Hello,

I was wondering if there's a way to edit server.R to change the file size limit to 1500MB? I downloaded via R so finding that specific file has been a challenge so far. If you could help that would be swell....

Best,

-Ashraf

[2018-04-16 20:18] ashraf123456789 commented on #173
This is true when I run runApp(system.file("shinyapp", package = "shinyHeatmaply"))

[2018-04-16 20:25] ashraf123456789 commented on #173
When I run this
launch_heatmaply(GeneExp)

I received this:

Listening on http://127.0.0.1:4997
Warning in doTryCatch(return(expr), name, parentenv, handler) :
  unable to load shared object '/Library/Frameworks/R.framework/Resources/modules//R_X11.so':
  dlopen(/Library/Frameworks/R.framework/Resources/modules//R_X11.so, 6): Library not loaded: /opt/X11/lib/libSM.6.dylib
  Referenced from: /Libra

[2018-04-16 20:51] Alanocallaghan commented on #173
I don't know what server.R is or which package it's from.

As for the DLL error, that's a general R on Mac issue, try this maybe? https://stackoverflow.com/questions/26489928/cant-load-x11-in-r-after-os-x-yosemite-upgrade

[2018-04-16 21:04] Alanocallaghan commented on #171
Not sure, I've never used packrat. I'll try to have another look tomorrow, and see if I can narrow down the issue a bit further.

[2018-04-17 09:57] ashraf123456789 commented on #173
should the launch_heatmaply() command avoid 5MB default size limit?

[2018-04-17 10:06] Alanocallaghan commented on #173
Where is the 5MB file limit coming from? If it's a shiny default, shinyHeatmaply shouldn't over-ride that. btw if this is strictly a shinyHeatmaply issue, that project has [its own repo](https://github.com/yonicd/shinyHeatmaply)

[2018-04-17 10:08] #168 closed

[2018-04-21 00:57] NathanGuy14 opened #174 "Set alpha values from dataframe"
In ggplot2, the alpha values of each cell in a heatmap can be set individually, using the aes() function.  Can the same be done in heatmaply?

[2018-04-21 05:26] talgalili commented on #174
Hi NathanGuy14
This is not currently implemented, but it could probably be added.
Could you help illustrate what would be the use case for this?
(alpha is usually for overlayed elements, and in this case if you want to
just change the color pallette you could do that directly)

[2018-04-21 10:31] NathanGuy14 commented on #174
Sure!
What I'd like to do is set certain cells of my heatmap to be more
transparent if the uncertainty in the measurement is higher. So I'd have
one data frame of measurements and another data frame of variances or
standard deviations, and set my alpha values based on the variances.

This is mentioned here for ggplot.
https://ggplot2.tidyverse.org/reference/scale_alpha.html

Thanks for considering

[2018-04-23 22:40] micdonato commented on #157
Kind of off-topic: why, in p3, there is an indicator of the grouping of the dendrogram? Is there a way to make that disappear?

[2018-04-23 22:59] Alanocallaghan commented on #157
Hi, I think that colv and rowv decide whether a dendrogram is used for row/column ordering, not just if they are displayed. Maybe they should be aliases for a "show_column_dendrogram" option. Either way the documentation should reflect that

On 23 Apr 2018 11:40 pm, micdonato <notifications@github.com> wrote:

Kind of off-topic: why, in p3, there is an indicator of the grouping of the dendrogram?

[2018-04-24 13:09] Alanocallaghan commented on #174
I don't know if this is properly supported in plotly as of right now:

[code]

[2018-04-30 14:59] AdamLeckenby opened #175 "Heatmaply Annotation Legend Control"
Hello,

First I wished to say thank you for this package.

I am having a little trouble trying to figure out how to control the legend, more specifically the annotation legend. I have two heatmaps that I display through the subplot function; these heatmaps are annotated with two different grouping objects, but they share the same set of groupings. I am hoping to display only one annotation legend

[2018-05-03 18:52] Alanocallaghan commented on #171
I still can't reproduce this using the branch, sorry Sean! Do you see any messages when producing the heatmap?

[2018-05-08 07:58] AdamLeckenby commented on #175
Hi Alan,

Thank you very much for solving this -- it's displaying perfectly!

Cheers,

Adam

[2018-05-08 07:58] #175 closed

[2018-05-18 13:45] abdlg opened #176 "figure doesn't display in Firefox-based Jupyter"
I have noticed that the figures couldn't be displayed in the Firefox web browser when using the R kernel in Jupyter, but with Chrome it is working fine.

thanks

[2018-05-18 14:11] Alanocallaghan commented on #176
Could you post an example, just to make it easier to debug? Thanks

[2018-05-24 09:16] PeterGrossmann commented on #86
You can specify width and height when you plot to a file with the `plotly::export` function.
Borrowing @tomsing1's example:
[code]

Ubuntu 16.04; R 3.4.2; heatmaply_0.14.1; plotly_4.7.1

[2018-05-24 09:55] Alanocallaghan commented on #86
Controlling file size on export is already supported in heatmaply.

[code]

[2018-07-05 11:36] sbcrg opened #178 "limits not taken into account in scale_fill_gradient_fun = ggplot2::scale_fill_gradient2"
Hello,

I am trying to use the scale_fill_gradient_fun parameter in heatmaply (with the scale_fill_gradient2 function).

Example matrix
`tt <- matrix(rnorm(200), ncol=4, nrow=50)`

This works and sets the color gradient properly
[code]

But as soon as I introduce the "limits" parameter, it displays the gradient properly in the color bar, but not in the heatmap itself (it completely ignores the col

[2018-07-05 15:56] Alanocallaghan commented on #178
Did you see any warnings when producing the plot?

[2018-07-05 16:15] Alanocallaghan commented on #178
I misunderstood,  I thought you were supplying limits directly to heatmaply. This is a known issue with plotly, see here: https://github.com/ropensci/plotly/issues/606
Cheers

[2018-07-05 16:15] #178 closed

[2018-07-05 16:16] sbcrg commented on #178
I did indeed get a message:
[code]
Didn't think it was relevant because when I try to ggplot2 in the same session it works...

[2018-07-05 19:15] Alanocallaghan commented on #178
That's a message from plotly, they recommend using the development version of ggplot2, though it often doesn't make much difference. I believe ggplot2 v3.0.0 is now out though, so it might make a difference now. As said above, unfortunately it's a plotly issue. If you want to set limits that are within the range of your data, you'll have to do so manually by truncating values (and setting `custom_

[2018-07-06 08:08] AljoLe opened #179 "row and column labels are just numbers"
I have noticed that, with the latest packages of heatmaply and ggplot2, the labels of the row names and column names are changed to numbers. This is also true for the hover text of the values in the heatmap (not colside_colors / rowside_colors).
The problem can be seen in the vignette of heatmaply ([here](https://cran.r-project.org/web/packages/heatmaply/vignettes/heatmaply.html#replicating-the-de

[2018-07-06 08:12] talgalili commented on #179
Oh my, this is a major bug, thanks for reporting it!

@Alanocallaghan - could you please take a look? I suspect it has something to do with the recent commit. Once resolved, please push and I'll make sure to upload it to CRAN ASAP.

[2018-07-06 08:16] sbcrg commented on #178
Ok, thanks a lot!

[2018-07-06 08:29] Alanocallaghan commented on #179
d41d27b86d5f76f0a09f4414609f17a87fd571d4 is fine,
a161ba101ff28b812e2cd995ce4ec033e407d8dc shows the error.

[2018-07-06 08:35] Alanocallaghan commented on #179
Fixed

[2018-07-06 08:35] #179 closed

[2018-07-06 08:44] talgalili commented on #179
Thanks for the quick turnaround @Alanocallaghan
I've now submitted the patch to CRAN, I hope it would be free of any bugs and will get uploaded quickly.
(I've checked the tests before submitting it, and they were fine on my machine)

[2018-07-06 08:48] AljoLe commented on #179
Thanks for the fast response and fix. Tersted the package from github and all labels are there again!

[2018-07-06 11:50] AljoLe opened #180 "plot_method = "plotly" overwrites selected colors to viridis color scheme"
Hi there,
when I use 'plot_method = "plotly"' in order to show the annotation legend of colside_colors ([Issue #144](https://github.com/talgalili/heatmaply/issues/144)), the choosen colors for the heatmap will be overwritten with the viridis color scheme, while using scale_fill_gradient_fun as mentioned in #1.
An example:
load heatmaply and mtcars dataset
[code]
define my own color scheme
[code]
p

[2018-07-06 12:41] Alanocallaghan commented on #180
plotly doesn't understand ggplot2 scale objects. You need to specify the colours using the `colors` argument`.

[2018-07-06 12:41] #180 closed

[2018-07-06 15:07] desaija-lilly opened #181 "Axes labelled with numbers and not text"
Pretty sure this is new issue with R 3.5.0 - I'm using the dev version of heatmaply, and any plot i create using the function heatmaply() does not have axes labels taken as text from row/column names of the input data frame. Instead it's just numbers.

I tried this with the basic example of heatmap(mtcars) and it did the same thing.

![image](https://user-images.githubusercontent.com/23194002/4238

[2018-07-06 15:09] talgalili commented on #181
We just fixed that and the latest version should get to CRAN later today.
Could you try the version on github and let us know if it fixed the issue
for you?

On Fri, Jul 6, 2018, 18:07 Jairav Desai <notifications@github.com> wrote:

[2018-07-06 15:19] desaija-lilly commented on #181
Yep works, thanks for the quick response.

[2018-07-06 16:21] talgalili commented on #181
Our pleasure.

[2018-07-06 16:21] #181 closed

[2018-07-07 15:00] talgalili opened #182 "Mention CET colors somewhere in the vignette?"
https://cran.rstudio.com/web/packages/cetcolor/

[2018-07-09 19:03] talgalili opened #183 "Use the new export to pdf function in plotly"
Use the new orca() function

source: https://github.com/ropensci/plotly/issues/1089

[2018-07-13 14:38] nuriaserra commented on #107
Hello,

I would also like to reorder the heatmap but don't display the dendrogram, and I thing the show_dend argument is a good solution. Have you developed it already?

Thank you,

Best,

Núria